@inject NotificationService _notice
<button class="btn-link" @onclick="@(async() => await ShowPincodeModal())">+ Add pincode</button>
<Modal Title="Add Pincode"
       OnCancel="@(async() => await HidePincodeModal())"
       Centered="true"
       Visible="@showPincodeModal"
       Footer="null">
    <input type="number" placeholder="Pincode" @bind="PinNumber" class="form-control" />
    <br />
    <buttton class="btn btn-success btn-sm" @onclick="@(async() => await CreatePincodeAsync())">Create</buttton>
    <buttton class="btn btn-danger btn-sm ml-2" @onclick="@(async() => await HidePincodeModal())">Cancel</buttton>
</Modal>
