@inject NotificationService _notice

@if (isRegisteredUser)
{
    <button class="btn btn-guotes btn-sm" @onclick="@(async () => await ShowEnquiryModal())">Get Quotes</button>
    <Modal Title="Enquiry Now"
           OnCancel="@(async () => await HideEnquiryModal())"
           Centered="true"
           Visible="@showEnquiryModal"
           Footer="null">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Full Name</label>
                    <input class="form-control" type="text" placeholder="Full Name" @bind="@ListingEnquiryVM.ListingEnquiry.FullName" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Mobile Number</label>
                    <input class="form-control" type="number" placeholder="Mobile Number" @bind="@ListingEnquiryVM.ListingEnquiry.MobileNumber" maxlength="10"
                           oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Enquiry Title</label>
                    <input class="form-control" type="text" placeholder="Enquiry Title" @bind="@ListingEnquiryVM.ListingEnquiry.EnquiryTitle" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" type="email" placeholder="Email" @bind="@ListingEnquiryVM.ListingEnquiry.Email" />
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Message</label>
                    <textarea class="form-control" placeholder="Message" @bind="@ListingEnquiryVM.ListingEnquiry.Message" />
                </div>
            </div>
        </div>
        <buttton class="btn btn-primary w-100" @onclick="@(async () => await CreateEnquiry())">Submit</buttton>
    </Modal>
}
else
{
    <button class="btn btn-guotes btn-sm" @onclick="@(async () => await ShowEnquiryModal())">Get Quotes</button>
    <Modal Title="Login/Register"
           OnCancel="@(async () => await HideEnquiryModal())"
           Centered="true"
           Visible="@showEnquiryModal"
           Footer="null">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Please <buttton style="cursor:pointer" class="btn-link" @onclick="NavigateToLogin">Login</buttton> Or <buttton style="cursor:pointer" class="btn-link" @onclick="NavigateToRegister">Register</buttton> yourself before enquire!</label>
                </div>
            </div>
        </div>
    </Modal>
}
