<button class="btn btn-light btn-sm" @onclick="@(async () => await ShowShareModal())"><i class="icon-share"></i> Share</button>
<Modal Title="Share Now"
       OnCancel="@(async() => await HideShareModal())"
       Centered="true"
       Visible="@showShareModal"
       Footer="null">
    <a href="@($"{BOL.Constants.FacebookLink} {listingDetailVM.Listing.CompanyName}&u={listingDetailVM.shareUrl}")" target="_blank"><i class="fa fa-facebook-official"></i></a>
    <a href="@($"{BOL.Constants.WhatsappLink} {listingDetailVM.Listing.CompanyName} : {listingDetailVM.shareUrl}")" target="_blank"><i class="fa fa-whatsapp"></i></a>
    <div class="step">
        <div class="row">
            <div class="col-md-3 col-6 my-3 text-center">
                <a href="@($"{BOL.Constants.WhatsappLink} {listingDetailVM.Listing.CompanyName} : {listingDetailVM.shareUrl}")" target="_blank">
                    <div class="share_img_sec">
                        <img src="/resources/img/icon/Social/whatsapp1.png" alt="whatsapp">
                    </div>
                    <p style="color: #333; margin-bottom: 0; margin-top: 5px;">Whatsapp</p>
                </a>
            </div>
            <div class="col-md-3 col-6 my-3 text-center">
                <a href="@($"{BOL.Constants.FacebookLink} {listingDetailVM.Listing.CompanyName}&u={listingDetailVM.shareUrl}")" target="_blank">
                    <div class="share_img_sec">
                        <img src="/resources/img/icon/Social/facebook.png" alt="facebook">
                    </div>
                    <p style="color: #333; margin-bottom: 0; margin-top: 5px;">Facebook</p>
                </a>
            </div>
            <div class="col-md-3 col-6 my-3 text-center">
                <a href="#">
                    <div class="share_img_sec">
                        <img src="/resources/img/icon/Social/instagram.webp" alt="instagram">
                    </div>
                    <p style="color: #333; margin-bottom: 0; margin-top: 5px;">Instagram</p>
                </a>
            </div>
            <div class="col-md-3 col-6 my-3 text-center">
                <a href="#">
                    <div class="share_img_sec">
                        <img src="/resources/img/icon/Social/pinterest.png" alt="pinterest">
                    </div>
                    <p style="color: #333; margin-bottom: 0; margin-top: 5px;">Pinterest</p>
                </a>
            </div>
            <div class="col-md-3 col-6 my-3 text-center">
                <a href="#">
                    <div class="share_img_sec">
                        <img src="/resources/img/icon/Social/linkedin.png" alt="linkedin">
                    </div>
                    <p style="color: #333; margin-bottom: 0; margin-top: 5px;">LinkedIn</p>
                </a>
            </div>
            <div class="col-md-3 col-6 my-3 text-center">
                <a href="#">
                    <div class="share_img_sec">
                        <img src="/resources/img/icon/Social/x.jpg" alt="x">
                    </div>
                    <p style="color: #333; margin-bottom: 0; margin-top: 5px;">X</p>
                </a>
            </div>
            <div class="col-md-3 col-6 my-3 text-center">
                <a href="#">
                    <div class="share_img_sec">
                        <img src="/resources/img/icon/Social/link.png" alt="Copy Link">
                    </div>
                    <p style="color: #333; margin-bottom: 0; margin-top: 5px;">Copylink</p>
                </a>
            </div>
        </div>
    </div>
</Modal>