@page "/MyAccount/Complaint"
<AuthorizeView>
    <Authorized>
        <main>
            <div class="container margin_60_35">
                <div class="row">
                    <div class="col-lg-3">
                        <SideNavigation isVendor="@isVendor" currentPage="@BOL.Constants.Complaint" />
                    </div>

                    <div class="col-lg-9">
                        <div class="tab-content profile-sidebar-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                <div class="add-review">
                                    <h5>Complaint</h5>
                                    <div class="form-group">
                                        <label>Title</label>
                                        <Input Placeholder="Title" @bind-Value="@complaint.Title" />
                                    </div>
                                    <div class="form-group">
                                        <label>Complaint Description</label>
                                        <textarea placeholder="Complaint Description" class="form-control" style="height:100px;" @bind="@complaint.Description"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>File</label>
                                        <Microsoft.AspNetCore.Components.Forms.InputFile @key="@_inputFileId" Class="form-control file-upload" OnChange="SetComplaintImage" />
                                    </div>
                                    <div class="text-center mt-3">
                                        @if (buttonBusy)
                                        {
                                            <button class="btn btn-secondary w-100">Saving...</button>
                                        }
                                        else
                                        {
                                            <button @onclick="@(async() => await AddComplaint())" class="btn btn-primary w-100">Submit</button>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </Authorized>
    <NotAuthorized>
        <UnAuthorizedUser />
    </NotAuthorized>
</AuthorizeView>