@using BOL;

<div class="nav profile-side-menu flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a class="nav-link @ActiveLink(Constants.BusinessListing)" href="/MyAccount/Dashboard" role="tab" aria-controls="v-pill-reviews" aria-selected="false">
        <img class="listing_icons" src="/resources/img/icon/business-listing.jpeg" alt="icon">Business Listing
    </a>
    <a class="nav-link @ActiveLink(Constants.LabourNaka)" href="/MyAccount/MyActivity" role="tab" aria-controls="v-pill-reviews" aria-selected="false">
        <img class="listing_icons" src="/resources/img/icon/labour-naka.jpeg" alt="icon">Labour Naka
    </a>
    <a class="nav-link @ActiveLink(Constants.Buy)" href="/MyAccount/UserProfile" role="tab" aria-controls="v-pills-profile" aria-selected="true">
        <img class="listing_icons" src="/resources/img/icon/buy.jpeg" alt="icon">Buy
    </a>
    <a class="nav-link @ActiveLink(Constants.Sell)" href="/MyAccount/ProfileInfo" role="tab" aria-controls="v-pills-address" aria-selected="true">
        <img class="listing_icons" src="/resources/img/icon/sell.jpeg" alt="icon">Sell
    </a>
    <a class="nav-link @ActiveLink(Constants.Jobs)" href="/MyAccount/ManageListing" role="tab" aria-controls="v-pills-add-listing" aria-selected="false">
        <img class="listing_icons" src="/resources/img/icon/job.jpeg" alt="icon">Jobs
    </a>
</div>