@using BOL;

<div class="nav profile-side-menu flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a class="nav-link @ActiveLink(Constants.CreateListing)" href="@BOL.Constants.freeListingUrl/Create-Listing" role="tab" aria-controls="v-pill-reviews" aria-selected="false">
        Select a Category
    </a>
    <a class="nav-link @ActiveLink(Constants.BusinessListing)" href="@BOL.Constants.freeListingUrl/Company" role="tab" aria-controls="v-pill-reviews" aria-selected="false">
        <img class="listing_icons" src="/resources/img/icon/business-listing.jpeg" alt="icon">Business Listing
    </a>
    <a class="nav-link @ActiveLink(Constants.LabourNaka)" href="@BOL.Constants.freeListingUrl/Labour-Naka" role="tab" aria-controls="v-pill-reviews" aria-selected="false">
        <img class="listing_icons" src="/resources/img/icon/labour-naka.jpeg" alt="icon">Labour Naka
    </a>
    <a class="nav-link @ActiveLink(Constants.Buy)" href="@BOL.Constants.freeListingUrl/Buy" role="tab" aria-controls="v-pills-profile" aria-selected="true">
        <img class="listing_icons" src="/resources/img/icon/buy.jpeg" alt="icon">Buy
    </a>
    <a class="nav-link @ActiveLink(Constants.Sell)" href="@BOL.Constants.freeListingUrl/Sell" role="tab" aria-controls="v-pills-address" aria-selected="true">
        <img class="listing_icons" src="/resources/img/icon/sell.jpeg" alt="icon">Sell
    </a>
    <a class="nav-link @ActiveLink(Constants.Jobs)" href="@BOL.Constants.freeListingUrl/Jobs" role="tab" aria-controls="v-pills-add-listing" aria-selected="false">
        <img class="listing_icons" src="/resources/img/icon/job.jpeg" alt="icon">Jobs
    </a>
</div>