@using BOL;

<div class="nav profile-side-menu flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    @if (isVendor)
    {
        <a class="nav-link @ActiveLink(Constants.MyActivity)" href="/MyAccount/MyActivity" role="tab" aria-controls="v-pill-reviews" aria-selected="false">My Activity</a>
    }
    <a class="nav-link @ActiveLink(Constants.EditProfile)" href="/MyAccount/UserProfile" role="tab" aria-controls="v-pills-profile" aria-selected="true">Edit Profile</a>
    <a class="nav-link @ActiveLink(Constants.PersonalInfo)" href="/MyAccount/ProfileInfo" role="tab" aria-controls="v-pills-address" aria-selected="true">Personal Info</a>
    @if (isVendor)
    {
        <a class="nav-link @ActiveLink(Constants.AddListing)" href="/MyAccount/AddListing" role="tab" aria-controls="v-pills-add-listing" aria-selected="false">Add Listing</a>
        <a class="nav-link @ActiveLink(Constants.MyListings)" href="/ManageListing/AllListing" role="tab" aria-selected="false">My Listings</a>
        <a class="nav-link @ActiveLink(Constants.Offers)" href="#" role="tab" aria-controls="v-pill-offers" aria-selected="false" disabled>Offers</a>
    }

    <a class="nav-link @ActiveLink(Constants.Bookmark)" href="/ManageListing/AllBookmarks" role="tab" aria-controls="v-pill-bookmark" aria-selected="true">Bookmarks</a>
    <a class="nav-link @ActiveLink(Constants.Subscribe)" href="/ManageListing/AllSubscribe" role="tab" aria-controls="v-pill-subscribe" aria-selected="false">Subscribe</a>
    <a class="nav-link @ActiveLink(Constants.Settings)" href="/Identity/Account/Manage" role="tab" aria-controls="v-pill-settings" aria-selected="false">Settings</a>


    <a class="nav-link @ActiveLink(Constants.Suggestion)" href="#" role="tab" aria-controls="v-pills-suggestion" aria-selected="false" disabled>Suggestion</a>
    <a class="nav-link @ActiveLink(Constants.Complaint)" href="#" role="tab" aria-controls="v-pill-complaint" aria-selected="false" disabled>Complaint</a>
    <a class="nav-link @ActiveLink(Constants.Notification)" href="#" role="tab" aria-controls="v-pill-notification" aria-selected="false" disabled>Notification</a>
    <a class="nav-link @ActiveLink(Constants.Chat)" href="#" role="tab" aria-controls="v-pill-chat" aria-selected="false" disabled>Chat</a>
    <a class="nav-link @ActiveLink(Constants.History)" href="#" role="tab" aria-controls="v-pill-history" aria-selected="false" disabled>History</a>
    <a class="nav-link @ActiveLink(Constants.ChangePassword)" href="#" role="tab" aria-controls="v-pill-password" aria-selected="false" disabled>Change Password</a>
</div>
