<div class="image">
    <img src="@listingActivityVM.UserImage" alt="@listingActivityVM.UserName">
</div>
<span>@listingActivityVM.VisitDate</span>
<br />
<p class="description">
    <i class="fa fa-thumbs-up" aria-hidden="true"></i><strong> "@listingActivityVM.UserName"</strong> @listingActivityVM.ActivityText your listing: "@listingActivityVM.CompanyName"
</p>
