<div class="image">
    <img src="@listingActivityVM.UserImage" alt="@listingActivityVM.UserName">
</div>
<span class="@classColor">@listingActivityVM.VisitDate</span>
<br />
<p class="description @classColor">
    
    <i class="fa @classIcon @classColor" aria-hidden="true"></i>
    <strong> "@listingActivityVM.UserName"</strong> @listingActivityVM.ActivityText your listing: "@listingActivityVM.CompanyName"
</p>
