@page "/listingresults/{url}/{level}"
@inject CategoriesDbContext categoriesContext
@inject ListingDbContext listingContext
@inject SharedDbContext sharedContext
@inject IJSRuntime jsRuntime

<div class="container">
    <!--Category Banner Start-->
    <div class="banner-block one-block">
        <div class="row">
            <div class="col-12">
                @if (CategoryBannerList != null && Banner1Count != 0)
                {
                    // First Slide
                    var firstSlide = CategoryBannerList.Where(i => i.Placement == "banner-1").FirstOrDefault();
                    var img1st = firstSlide.BannerId + ".jpeg";

                    <a href="@firstSlide.LinkUrl" class="grid_item">
                        <img src="/CloudBox/category/@img1st" alt="@firstSlide.Name">
                    </a>
                }
                else
                {
                    <div class="grid_item">
                        <img src="/resources/img/listing-img.jpeg" alt="Banner">
                    </div>
                }
            </div>
        </div>
    </div>
    <!--Category Banner Start-->
    <!--Listing Category Start-->
    <div class="listing-list">
        <div class="row">
            <div class="col-lg-3 listing-sidebar">
                <div class="sider-card">
                    @if (CategoryBannerList != null && Banner2Count != 0)
                    {
                        var firstSlide = CategoryBannerList.Where(i => i.Placement == "banner-2").FirstOrDefault();
                        var img1st = firstSlide.BannerId + ".jpeg";
                        <img src="/CloudBox/category/@img1st" alt="@firstSlide.Name">
                    }
                    else
                    {
                        <img src="/banners/square banner 1.jpg" alt="">
                    }
                </div>
                <div class="sider-card">
                    @if (CategoryBannerList != null && Banner3Count != 0)
                    {
                        var firstSlide = CategoryBannerList.Where(i => i.Placement == "banner-3").FirstOrDefault();
                        var img1st = firstSlide.BannerId + ".jpeg";
                        <img src="/CloudBox/category/@img1st" alt="@firstSlide.Name">
                    }
                    else
                    {
                        <img src="/banners/square banner 2.jpg" alt="">
                    }
                </div>
            </div>
            <div class="col-lg-9 mb-space-remove">
                @if (ListingResultVM != null)
                {
                    @foreach (var item in ListingResultVM)
                    {
                        <div class="strip map_view">
                            <div class="row no-gutters">
                                <div class="col-3">
                                    <figure>
                                        <a href="/Listing/Index/@item.ListingId">
                                            <img src="@item.LogoImageUrl" class="img-fluid" alt="">
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-9">
                                    <div class="wrapper">
                                        <a href="#0" class="loc_open">Claim Listing</a>
                                        <h3><a href="/Listing/Index/@item.ListingId">@item.CompanyName</a></h3>
                                        <small>@item.SubCategory <span class="mob_reating">@item.RatingAverage.ToString("0.0")<i class="icon_star active"></i></span></small>
                                        <p><a href="#0" onclick="onHtmlClick('Marker',1)" class="address">@item.Assembly, @item.Area</a></p>
                                        <p class="loc-time">
                                            <i class="fa fa-clock-o"></i> :
                                            <b class="@(item.BusinessWorking.IsBusinessOpen ? "" : "text-danger")">@item.BusinessWorking.IsBusinessOpenText</b>
                                            @if (item.BusinessWorking.IsBusinessOpen)
                                            {
                                                <span> until @item.BusinessWorking.CloseTime</span>
                                            }
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-12 listing-bottom">
                                    <ul class="listing-bottom-list">
                                        @if (item.BusinessYear > 0)
                                        {
                                            <li>
                                                <h4 class="business-year">+@item.BusinessYear @(item.BusinessYear == 1 ? "Year" : "Years") in Business</h4>
                                            </li>
                                        }
                                        <li>
                                            <a href="tel:@item.Mobile" class="loc_open call-now"> Call Now </a>
                                        </li>
                                        <li>
                                            <a href="#0" class="loc_open"> Get Quotation </a>
                                        </li>
                                        <li>
                                            <ul class="reating-list">
                                                <li><h4 class="reating-number">@item.RatingAverage.ToString("0.0")</h4></li>
                                                <li class="reating-star">
                                                    <div class="cat_star">
                                                        <i class="icon_star @(item.RatingAverage >= 1 ? "active" : "")"></i>
                                                        <i class="icon_star @(item.RatingAverage >= 2 ? "active" : "")"></i>
                                                        <i class="icon_star @(item.RatingAverage >= 3 ? "active" : "")"></i>
                                                        <i class="icon_star @(item.RatingAverage >= 4 ? "active" : "")"></i>
                                                        <i class="icon_star @(item.RatingAverage >= 5 ? "active" : "")"></i>
                                                    </div>
                                                </li>
                                                <li class="reating-people"><p>@item.RatingCount Ratings</p></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="col-12 d-flex justify-content-end">
                        <nav aria-label="...">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                                </li>
                                @for (var pageno = 1; pageno <= TotalPages; pageno++)
                                {
                                    <li class="page-item"><a class="page-link" href="#">@pageno</a></li>
                                }
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                }
                else
                {
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!--Listing Category End-->