@page "/Listing/Index/{ListingID}"
@inject AuditDbContext auditContext
@inject CategoriesDbContext categoriesContext
@inject SharedDbContext sharedContext
@inject AuthenticationStateProvider authenticationState
@inject NotificationService _notice
@inject IJSRuntime jsRuntime

<div class="container individual-listing">
    <div class="row">
        <div class="col-lg-3 individual-listing-sidebar padding-5">
            @if (listingDetailVM != null && !string.IsNullOrWhiteSpace(listingDetailVM.LogoUrl))
            {
                <div class="box_detail_cus">
                    <div class="cust-profile">
                        <img src="@listingDetailVM.LogoUrl" alt="profile">
                    </div>
                </div>
            }
            <div class="box_detail_cus">
                <div class="cust-profile">
                    <img src="resources/img/icon/profile.svg" alt="profile">
                    @if (listingDetailVM != null)
                    {
                        <h6 class="cust-name">
                            @listingDetailVM.Listing.Name
                            @if (userAgent != null)
                            {
                                <span>@userAgent</span>
                            }
                        </h6>
                    }
                    <span class="cust-type">Owner</span>
                </div>
            </div>
            <div class="listing-specialisat box_detail_cus">
                <h6>Specialisation</h6>
                <ul class="listing-specialisat-list">
                    @if (listingDetailVM != null)
                    {
                        @if (listingDetailVM.Specialisation.AcceptTenderWork == true)
                        {
                            <li><i class="icon-check-1"></i> Accept Tender Work</li>
                        }
                        @if (listingDetailVM.Specialisation.Banks == true)
                        {
                            <li><i class="icon-check-1"></i> Bank</li>
                        }
                        @if (listingDetailVM.Specialisation.ExhibitionStall == true)
                        {
                            <li><i class="icon-check-1"></i> Exhibition Stall</li>
                        }
                        @if (listingDetailVM.Specialisation.Hotel == true)
                        {
                            <li><i class="icon-check-1"></i> Hotel</li>
                        }
                        @if (listingDetailVM.Specialisation.Restaurants == true)
                        {
                            <li><i class="icon-check-1"></i> Restaurants</li>
                        }
                        @if (listingDetailVM.Specialisation.BeautyParlors == true)
                        {
                            <li><i class="icon-check-1"></i> Beauty Parlors</li>
                        }
                        @if (listingDetailVM.Specialisation.Factory == true)
                        {
                            <li><i class="icon-check-1"></i> Factory</li>
                        }
                        @if (listingDetailVM.Specialisation.Laboratory == true)
                        {
                            <li><i class="icon-check-1"></i> Laboratory</li>
                        }
                        @if (listingDetailVM.Specialisation.Salons == true)
                        {
                            <li><i class="icon-check-1"></i> Salons</li>
                        }
                        @if (listingDetailVM.Specialisation.Bungalow == true)
                        {
                            <li><i class="icon-check-1"></i> Bungalow</li>
                        }
                        @if (listingDetailVM.Specialisation.Farmhouse == true)
                        {
                            <li><i class="icon-check-1"></i> Farmhouse</li>
                        }
                        @if (listingDetailVM.Specialisation.Mandir == true)
                        {
                            <li><i class="icon-check-1"></i> Mandir</li>
                        }
                        @if (listingDetailVM.Specialisation.Shop == true)
                        {
                            <li><i class="icon-check-1"></i> Shop</li>
                        }
                        @if (listingDetailVM.Specialisation.CallCenter == true)
                        {
                            <li><i class="icon-check-1"></i> Call Center</li>
                        }
                        @if (listingDetailVM.Specialisation.Gurudwara == true)
                        {
                            <li><i class="icon-check-1"></i> Gurudwara</li>
                        }
                        @if (listingDetailVM.Specialisation.Mosque == true)
                        {
                            <li><i class="icon-check-1"></i> Mosque</li>
                        }
                        @if (listingDetailVM.Specialisation.ShoppingMall == true)
                        {
                            <li><i class="icon-check-1"></i> Shopping Mall</li>
                        }
                        @if (listingDetailVM.Specialisation.Church == true)
                        {
                            <li><i class="icon-check-1"></i> Church</li>
                        }
                        @if (listingDetailVM.Specialisation.Gym == true)
                        {
                            <li><i class="icon-check-1"></i> Gym</li>
                        }
                        @if (listingDetailVM.Specialisation.Office == true)
                        {
                            <li><i class="icon-check-1"></i> Office</li>
                        }
                        @if (listingDetailVM.Specialisation.Showroom == true)
                        {
                            <li><i class="icon-check-1"></i> Showroom</li>
                        }
                        @if (listingDetailVM.Specialisation.Company == true)
                        {
                            <li><i class="icon-check-1"></i> Company</li>
                        }
                        @if (listingDetailVM.Specialisation.HealthClub == true)
                        {
                            <li><i class="icon-check-1"></i> Health Club</li>
                        }
                        @if (listingDetailVM.Specialisation.Plazas == true)
                        {
                            <li><i class="icon-check-1"></i> Plazas</li>
                        }
                        @if (listingDetailVM.Specialisation.Warehouse == true)
                        {
                            <li><i class="icon-check-1"></i> Warehouse</li>
                        }
                        @if (listingDetailVM.Specialisation.ComputerInstitute == true)
                        {
                            <li><i class="icon-check-1"></i> Computer Institute</li>
                        }
                        @if (listingDetailVM.Specialisation.Home == true)
                        {
                            <li><i class="icon-check-1"></i> Home</li>
                        }
                        @if (listingDetailVM.Specialisation.ResidentialSociety == true)
                        {
                            <li><i class="icon-check-1"></i> Residential Society</li>
                        }
                        @if (listingDetailVM.Specialisation.Dispensary == true)
                        {
                            <li><i class="icon-check-1"></i> Dispensary</li>
                        }
                        @if (listingDetailVM.Specialisation.Hospital == true)
                        {
                            <li><i class="icon-check-1"></i> Hospital</li>
                        }
                        @if (listingDetailVM.Specialisation.Resorts == true)
                        {
                            <li><i class="icon-check-1"></i> Resorts</li>
                        }
                    }
                </ul>
            </div>
            <div class="listing-specialisat box_detail_cus">
                <h6>PAYMENT DETAILS</h6>
                <ul class="listing-specialisat-list">
                    @if (listingDetailVM != null)
                    {
                        if (listingDetailVM.PaymentMode.Cash == true)
                        {
                            <li><i class="icon-check-1"></i> Cash</li>
                        }

                        if (listingDetailVM.PaymentMode.NetBanking == true)
                        {
                            <li><i class="icon-check-1"></i> Net Banking</li>
                        }

                        if (listingDetailVM.PaymentMode.Cheque == true)
                        {
                            <li><i class="icon-check-1"></i> Cheque</li>
                        }

                        if (listingDetailVM.PaymentMode.RtgsNeft == true)
                        {
                            <li><i class="icon-check-1"></i> RTGS &amp; NEFT</li>
                        }

                        if (listingDetailVM.PaymentMode.DebitCard == true)
                        {
                            <li><i class="icon-check-1"></i> Debit Card</li>
                        }

                        if (listingDetailVM.PaymentMode.CreditCard == true)
                        {
                            <li><i class="icon-check-1"></i> Credit Card</li>
                        }

                        if (listingDetailVM.PaymentMode.PayTM == true)
                        {
                            <li><i class="icon-check-1"></i> Pay TM</li>
                        }

                        if (listingDetailVM.PaymentMode.PhonePay == true)
                        {
                            <li><i class="icon-check-1"></i> Phone Pay</li>
                        }

                        if (listingDetailVM.PaymentMode.Paypal == true)
                        {
                            <li><i class="icon-check-1"></i> Paypal</li>
                        }
                    }
                </ul>
            </div>
        </div>
        <div class="col-lg-9 individual-listing-main padding-5">
            <div class="listing-gallery">
                <div class="gallery">
                    <a href="FrontEnd/img/listing-img.jpeg" class="big">
                        <img src="resources/img/listing-img.jpeg" alt="Image 1" title="Image 1">
                    </a>
                    <a href="FrontEnd/img/hero_in_restaurants_detail.jpg" class="big">
                        <img src="resources/img/hero_in_restaurants_detail.jpg" alt="Image 2" title="Image 2">
                    </a>
                    <a href="FrontEnd/img/furniture-design1.jpg" class="big">
                        <img src="resources/img/furniture-design1.jpg" alt="Image 3" title="Image 3">
                    </a>
                    <a href="FrontEnd/img/furniture-design.jpg" class="big">
                        <img src="resources/img/furniture-design.jpg" alt="Image 4" title="Image 4">
                    </a>
                    <a href="FrontEnd/img/home_section_1.jpg" class="big">
                        <img src="resources/img/home_section_1.jpg" alt="Image 5" title="Image 5">
                    </a>
                    <a href="FrontEnd/img/access_bg.jpg" class="big">
                        <img src="resources/img/access_bg.jpg" alt="Image 6" title="Image 6">
                    </a>
                    <a href="FrontEnd/img/bg_call_section.jpg" class="big">
                        <img src="resources/img/bg_call_section.jpg" alt="Image 7" title="Image 7">
                    </a>
                    <a href="FrontEnd/img/listing-img.jpeg" class="big">
                        <img src="resources/img/listing-img.jpeg" alt="Image 8" title="Image 8">
                    </a>
                    <a href="FrontEnd/img/hero_in_hotels_detail.jpg" class="big">
                        <img src="resources/img/hero_in_hotels_detail.jpg" alt="Image 9" title="Image 9">
                    </a>
                </div>
            </div>
            @if (listingDetailVM != null)
            {
                <div class="company-listing-main">
                    <div class="listing-details">
                        <div class="col-lg-4 col-md-12 company-map padding-all-5">
                            <div class="gmap_canvas">
                                <iframe width="100%" height="315" id="gmap_canvas" src="https://maps.google.com/maps?q=Creative&#x2B;Concept&#x2B;Pvt.&#x2B;Ltd.&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-12 company-details-list padding-all-5">
                            <div class="company-addes">
                                <div class="company-details">
                                    <h5 class="company-name">@listingDetailVM.Listing.CompanyName</h5>
                                    <small>
                                        <a href="#0" class="claimbusiness"><i class="icon-pencil-1"></i>write a preview</a>
                                    </small>
                                </div>
                                <span class="company-category-name">@listingDetailVM.FirstCategory > @listingDetailVM.SecondCategory</span>
                                <div class="company-rating">
                                    <div class="cat_star">
                                        <i class="icon_star @(listingDetailVM.RatingAverage >= 1 ? "active" : "")"></i>
                                        <i class="icon_star @(listingDetailVM.RatingAverage >= 2 ? "active" : "")"></i>
                                        <i class="icon_star @(listingDetailVM.RatingAverage >= 3 ? "active" : "")"></i>
                                        <i class="icon_star @(listingDetailVM.RatingAverage >= 4 ? "active" : "")"></i>
                                        <i class="icon_star @(listingDetailVM.RatingAverage >= 5 ? "active" : "")"></i>
                                    </div>
                                    <span>@listingDetailVM.RatingAverage.ToString("0.0") based on 4 rating</span>
                                </div>
                            </div>
                            <div class="col-lg-12 mim-Address">
                                @if (ToggleCompleteAddress == false)
                                {
                                    <p>
                                        <i class="icon-location-6"></i>
                                        @listingDetailVM.Address.Locality, @listingDetailVM.Address.Pincode <a href="" @onclick:preventDefault @onclick="@(async() => await ToggleCompleteAddressAsync())">more...</a>
                                    </p>
                                }
                                else
                                {
                                    <p>
                                        <i class="icon-location-6"></i>
                                        @listingDetailVM.Address.LocalAddress, @listingDetailVM.Address.Locality, @listingDetailVM.Address.Assembly, @listingDetailVM.Address.Pincode, @listingDetailVM.Address.City, @listingDetailVM.Address.State, @listingDetailVM.Address.Country <a href="" @onclick:preventDefault @onclick="@(async() => await ToggleCompleteAddressAsync())">less...</a>
                                    </p>
                                }
                                <p>
                                    <i class="icon-address"></i> @listingDetailVM.Address.Assembly<span style="margin-left:30px;"><i class="icon-map-1"></i>@listingDetailVM.Address.City</span>

                                    @if (listingDetailVM.Communication.Website != null)
                                    {
                                        <span style="margin-left:30px;">
                                            <i class="icon-globe-4"></i>
                                            <a href="@listingDetailVM.Communication.Website" target="_blank" title="@listingDetailVM.Communication.Website">
                                                @listingDetailVM.Communication.Website
                                            </a>
                                        </span>
                                    }

                                </p>
                            </div>
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-12 col-md-12 p-0 company-establishment">
                                        <p>
                                            <i class="icon-calendar-5"></i> Year of Establishment @listingDetailVM.Listing.YearOfEstablishment.ToString("yyyy")
                                            <span style="margin-left:30px;">Employees: @listingDetailVM.Listing.NumberOfEmployees</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="company-time">
                                <a class="company-time-title btn btn-link collapsed" data-toggle="collapse" href="#companytime" role="button" aria-expanded="false" aria-controls="companytime">
                                    <i class="icon-map-1 mim-marginLeft-Minus20"></i>
                                    <span>
                                        <b>Hours : </b>
                                        @if (listingDetailVM.BusinessWorkingHour.IsBusinessOpen)
                                        {
                                            <b style="color: green;"> Open Now </b>
                                        }
                                        else
                                        {
                                            <b style="color: red;"> Closed Now </b>
                                        }
                                        10:11 AM <b>Thursday</b>
                                    </span>
                                </a>
                                <div class="collapse" id="companytime">
                                    <div class="card card-body">
                                        <div class="row">
                                            <div class="col-4">Monday</div>
                                            <div class="col-8">
                                                @listingDetailVM.WorkingHour.MondayFrom.ToString("hh:mm tt") to @listingDetailVM.WorkingHour.MondayTo.ToString("hh:mm tt")
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">Tuesday</div>
                                            <div class="col-8">
                                                @listingDetailVM.WorkingHour.TuesdayFrom.ToString("hh:mm tt") to @listingDetailVM.WorkingHour.TuesdayTo.ToString("hh:mm tt")
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">Wednesday</div>
                                            <div class="col-8">
                                                @listingDetailVM.WorkingHour.WednesdayFrom.ToString("hh:mm tt") to @listingDetailVM.WorkingHour.WednesdayTo.ToString("hh:mm tt")
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">Friday</div>
                                            <div class="col-8">
                                                @listingDetailVM.WorkingHour.FridayFrom.ToString("hh:mm tt") to @listingDetailVM.WorkingHour.FridayTo.ToString("hh:mm tt")
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">Saturday</div>
                                            <div class="col-8">
                                                @listingDetailVM.WorkingHour.SaturdayFrom.ToString("hh:mm tt") to @listingDetailVM.WorkingHour.SaturdayTo.ToString("hh:mm tt")
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">Sunday</div>
                                            <div class="col-8">
                                                @listingDetailVM.WorkingHour.SundayFrom.ToString("hh:mm tt") to @listingDetailVM.WorkingHour.SundayTo.ToString("hh:mm tt")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="social-details">
                                @if (HideContact == true)
                                {
                                    <button @onclick="@(async() => await ToggleContact())" class="btn btn-success btn-sm" id="ViewNumber"><i class="icon-eye"></i> Show Contact</button>
                                }
                                else
                                {
                                    <button @onclick="@(async() => await ToggleContact())" class="btn btn-danger btn-sm" id="HideNumber"><i class="icon-eye-off"></i> Hide Contact</button>
                                }
                                <a href="#0" class="mim-marginLeft-Minus20 btn btn-light btn-sm"><i class="icon-share"></i></a>
                                @if (userAuthenticated == true)
                                {
                                    <button @onclick="@(async() => await ToggleBookmark(listingDetailVM.Listing.ListingID))"
                                            id="BookmarkMe" class="pushRight btn btn-light btn-sm ml-1">
                                        <i class="icon-bookmark-empty"></i> Bookmark
                                        <span id="BookmarkCount">
                                            @countBookmark
                                        </span>
                                    </button>
                                }
                                else
                                {
                                    <a href="#0" id="BookmarkMe" class="pushRight btn btn-light btn-sm ml-1">
                                        <i class="icon-bookmark-empty"></i> Bookmark
                                        <span id="BookmarkCount">
                                            @countBookmark
                                        </span>
                                    </a>
                                }

                                <!-- Begin: Like -->
                                @{
                                    string likeThumbIcon;
                                    if (like == true)
                                    {
                                        likeThumbIcon = "icon-thumbs-down";
                                    }
                                    else
                                    {
                                        likeThumbIcon = "icon-thumbs-up";
                                    }
                                }

                                @if (userAuthenticated == true)
                                {
                                    <button @onclick="@(async() => await ToggleLikeAsync(Int32.Parse(ListingID)))" class="pushRight btn btn-light btn-sm ml-1">
                                        <i class="@likeThumbIcon"></i>
                                        <span id="LikeCount">
                                            @(countLike != 0 ? countLike : "0")
                                        </span>
                                    </button>
                                }
                                else
                                {
                                    <button @onclick="@(async() => await ToggleLikeAsync(Int32.Parse(ListingID)))" class="pushRight btn btn-light btn-sm ml-1">
                                        <i class="@likeThumbIcon"></i>
                                        <span id="LikeCount">
                                            @(countLike != 0 ? countLike : "0")
                                        </span>
                                    </button>
                                }

                                <!-- Begin: Subscribe -->

                                @if (userAuthenticated == true)
                                {
                                    <button @onclick="@(async() => await ToggleSubscribeAsync(Int32.Parse(ListingID)))" id="SubscribeMe" class="pushRight btn btn-light btn-sm ml-1">
                                        <i class="icon-bell"></i> Unsubscribe
                                        <span id="SubscribeCount">
                                            @(countSubscribe != 0 ? countSubscribe : "0")
                                        </span>
                                    </button>
                                }
                                else
                                {
                                    <button @onclick="@(async() => await ToggleSubscribeAsync(Int32.Parse(ListingID)))" id="SubscribeMe" class="pushRight btn btn-light btn-sm ml-1">
                                        <i class="icon-bell"></i> Subscribe
                                        <span id="SubscribeCount">
                                            @(countSubscribe != 0 ? countSubscribe : "0")
                                        </span>
                                    </button>
                                }
                            </div>
                            @if (HideContact == false)
                            {
                                <div id="contactDetails" class="pt-0 pb-2">
                                    <i class="icon-mobile-6"></i> <a href="tel:@listingDetailVM.Communication.Mobile" title="Call Now">@listingDetailVM.Communication.Mobile</a>
                                    <i class="icon-mobile-6"></i> <a href="tel:@listingDetailVM.Communication.Mobile" title="Whatsapp">@listingDetailVM.Communication.Mobile</a>
                                    @if (listingDetailVM.Communication.Telephone != null)
                                    {
                                        <i class="icon-phone"></i> <a href="tel:@listingDetailVM.Communication.Telephone" title="Whatsapp">@listingDetailVM.Communication.Telephone</a>
                                    }
                                    @if (listingDetailVM.Communication.TelephoneSecond != null)
                                    {
                                        <i class="icon-phone"></i> <a href="tel:@listingDetailVM.Communication.TelephoneSecond" title="Whatsapp">@listingDetailVM.Communication.TelephoneSecond</a>
                                    }
                                </div>
                            }
                            <div class="col-lg-12 social-share p-0">
                                <a href="#0"><i class="icon-facebook-squared-1"></i></a>
                                <a href="#0"><i class="fa fa-whatsapp"></i></a>
                                <a href="#0"><i class="icon-linkedin-3"></i></a>
                                <a href="#0"><i class="icon-twitter-rect"></i></a>
                                <a href="#0"><i class="icon-youtube-play"></i></a>
                                <a href="#0"><i class="icon-instagramm"></i></a>
                                <a href="#0"><i class="icon-pinterest-squared"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="banner-block one-block">
                        <div class="row">
                            <div class="col-12">
                                <div class="mim-banner-carousel carousel slide carousel-fade" data-ride="carousel">
                                    <div class="carousel-inner">
                                        @if (listingDetailVM.ListingBanners != null && listingDetailVM.ListingBanners.Count() > 0)
                                        {
                                            foreach (var ban in listingDetailVM.ListingBanners)
                                            {
                                                var img = ban.BannerId + ".jpeg";
                                                <div class="carousel-item">
                                                    <a href="@ban.LinkUrl" target="@ban.TargetWindow">
                                                        <img class="d-block w-100" src="/CloudBox/listing/@img" alt="@ban.Name">
                                                    </a>

                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="carousel-item active">
                                                <img class="d-block w-100" src="https://via.placeholder.com/900x250/09f.png/fff" alt="First slide">
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="company-listing-tab">
                        <div class="step">
                            <ul class="nav nav-tabs" id="tab_checkout" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link" id="about-tab" data-toggle="tab" href="#about" role="tab" aria-controls="about" aria-selected="false">About Us</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="services-tab" data-toggle="tab" href="#services" role="tab" aria-controls="services" aria-selected="true">Services</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="enquire-tab" data-toggle="tab" href="#enquire" role="tab" aria-controls="enquire" aria-selected="true">Enquire Now</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="true">Reviews</a>
                                </li>
                            </ul>
                            <div class="tab-content checkout">
                                <div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="about">
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                        when an unknown printer took a galley of type and scrambled it to make a type
                                        specimen book. It has survived not only five centuries, but also the leap into
                                        electronic typesetting, remaining essentially unchanged. It was popularised in
                                        the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                                        and more recently with desktop publishing software like Aldus PageMaker including
                                        versions of Lorem Ipsum.
                                    </p>
                                </div>
                                <div class="tab-pane fade" id="services" role="tabpanel" aria-labelledby="services">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                    when an unknown printer took a galley of type and scrambled it to make a type
                                    specimen book. It has survived not only five centuries, but also the leap into
                                    electronic typesetting, remaining essentially unchanged. It was popularised in
                                    the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                                    and more recently with desktop publishing software like Aldus PageMaker including
                                    versions of Lorem Ipsum.
                                </div>
                                <div class="tab-pane fade" id="enquire" role="tabpanel" aria-labelledby="enquire">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                    when an unknown printer took a galley of type and scrambled it to make a type
                                    specimen book. It has survived not only five centuries, but also the leap into
                                    electronic typesetting, remaining essentially unchanged. It was popularised in
                                    the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                                    and more recently with desktop publishing software like Aldus PageMaker including
                                    versions of Lorem Ipsum.mapDiv

                                </div>
                                <div class="tab-pane fade show active" id="reviews" role="tabpanel" aria-labelledby="reviews">
                                    <div class="review-form mb-3">
                                        @if (userAuthenticated == false)
                                        {
                                            <a class="btn btn-link" href="/Identity/Account/Login" role="button">
                                                <i class="icon-pencil"></i> Login to Write Review
                                            </a>
                                        }

                                        @if (CurrentUserRating == null && userAuthenticated == true)
                                        {
                                            <a class="btn btn-link" data-toggle="collapse" href="#WriteReview" role="button" aria-expanded="false" aria-controls="WriteReview">
                                                <i class="icon-pencil"></i> Write Review
                                            </a>
                                        }

                                        @if (userAuthenticated == true && CurrentUserRating != null)
                                        {
                                            <a class="btn btn-link" data-toggle="collapse" href="#EditReview" role="button" aria-expanded="false" aria-controls="WriteReview">
                                                <i class="icon-pencil"></i> Edit Review
                                            </a>
                                            <div class="add-review collapse" id="EditReview">
                                                <div class="card card-body">
                                                    <h6>Edit Review</h6>
                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <Rate @bind-Value="Rating" />
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Your Review</label>
                                                            <textarea @bind="@Comment" name="review_text" id="review_text" class="form-control" style="height:130px;"></textarea>
                                                        </div>
                                                        <div class="form-group col-md-12 add_top_20 add_bottom_30">
                                                            <button @onclick="@(async() => await EditSaveRatingAsync())">Save Rating</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                        <div class="add-review collapse" id="WriteReview">
                                            <div class="card card-body">
                                                <h6>Write Review</h6>
                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        <Rate @bind-Value="Rating" />
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <label>Your Review</label>
                                                        <textarea @bind="@Comment" name="review_text" id="review_text" class="form-control" style="height:130px;"></textarea>
                                                    </div>
                                                    <div class="form-group col-md-12 add_top_20 add_bottom_30">
                                                        <button @onclick="@(async() => await CreateRatingAsync())">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-lg-5 " id="RatingBar">
                                            <div>
                                                <div class="col-lg-12">
                                                    <div class="row">
                                                        <div class="company-rating d-flex">
                                                            <h4>4.0</h4>
                                                            <div class="cat_star pl-2 pt-1">
                                                                <i class="icon_star active"></i>
                                                                <i class="icon_star active"></i>
                                                                <i class="icon_star active"></i>
                                                                <i class="icon_star active"></i>
                                                                <i class="icon_star"></i>
                                                            </div>
                                                            <span class="pl-2 pt-1">based on 4 rating</span>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex">
                                                        <span class="company-progress-star">5 <i class="icon-star-1"></i></span>
                                                        <div class="progress company-progress">
                                                            <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex">
                                                        <span class="company-progress-star">4 <i class="icon-star-1"></i></span>
                                                        <div class="progress company-progress">
                                                            <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex">
                                                        <span class="company-progress-star">3 <i class="icon-star-1"></i></span>
                                                        <div class="progress company-progress">
                                                            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex">
                                                        <span class="company-progress-star">2 <i class="icon-star-1"></i></span>
                                                        <div class="progress company-progress">
                                                            <div class="progress-bar" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex">
                                                        <span class="company-progress-star">1 <i class="icon-star-1"></i></span>
                                                        <div class="progress company-progress">
                                                            <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @foreach (var review in listingDetailVM.listReviews)
                                        {
                                            <div class="col-12  col-lg-12 review-user">
                                                <h6>Latest review by @review.Name on @review.Date</h6>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="row">
                                                            <div class="col col-lg-1 text-center">
                                                                <img src="resources/img/icon/profile.svg" class="rounded-circle img-thumbnail">
                                                            </div>
                                                            <div class="col-lg-10 pl-lg-0">
                                                                <div class="cat_star">
                                                                    <i class="icon_star @(review.Ratings >= 1 ? "active" : "")"></i>
                                                                    <i class="icon_star @(review.Ratings >= 2 ? "active" : "")"></i>
                                                                    <i class="icon_star @(review.Ratings >= 3 ? "active" : "")"></i>
                                                                    <i class="icon_star @(review.Ratings >= 4 ? "active" : "")"></i>
                                                                    <i class="icon_star @(review.Ratings >= 5 ? "active" : "")"></i>
                                                                    <span><strong>@review.Name – @review.Date</strong> </span>
                                                                </div>
                                                                <p>@review.Comment<a href="#0"> view more...</a></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="d-flex justify-content-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            }
            @if (String.IsNullOrEmpty(ErrorMessage) == false)
            {
                <div class="d-flex justify-content-center">
                    <p>@ErrorMessage</p>
                </div>
            }
        </div>
    </div>
</div>