@*/Listing/@item.City/@item.ListingUrl-@item.Locality/@item.id*@
@page "/Listing/{City}/{Detail}/{ListingID}"
@inject AuthenticationStateProvider authenticationState
@inject NotificationService _notice
@inject IJSRuntime jsRuntime

<Toolbelt.Blazor.HeadElement.Title>@title</Toolbelt.Blazor.HeadElement.Title>
<Meta Property="og:title" Content="@title" />
<Meta Property="og:description" Content="@title" />
<Meta Name="title" Content="@title" />
<div class="container individual-listing">
    <link href="/resources/css/ListingDetails.css" rel="stylesheet" />
    <div class="row">
        @if (listingDetailVM != null)
        {
            <div class="col-lg-3 individual-listing-sidebar padding-5">
                <div class="box_detail_cus">
                    <div class="p-3">
                        <div class="user_logo_sec">
                            @if (listingDetailVM.LogoImage == null)
                            {
                                <img src="resources/img/furniture-design.jpg" alt="img" class="user_log_img">
                            }
                            else
                            {
                                <img src="@listingDetailVM.LogoImage.ImagePath" alt="img" class="user_log_img">
                            }
                        </div>
                    </div>
                </div>
                <div class="box_detail_cus">
                    <div class="cust-profile">
                        @if (listingDetailVM.OwnerImagesVM == null || listingDetailVM.OwnerImagesVM.Count <= 0)
                        {
                            <img src="resources/img/icon/profile.svg" alt="profile">
                            <h6 class="cust-name">
                                @listingDetailVM.Listing.Name
                                @if (userAgent != null)
                                {
                                    <span>@userAgent</span>
                                }
                            </h6>
                            <span class="cust-type">Owner</span>
                        }
                        else
                        {
                            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    @foreach (var image in listingDetailVM.OwnerImagesVM)
                                    {
                                        <div class="carousel-item @(count++ == 0 ? "active" : "")">
                                            <img src="@image.ImageUrl" alt="profile">
                                            <h4 class="cust-name">@image.Name</h4>
                                            <span class="cust-type">@image.Designation</span>
                                            <div style="margin-top: 10px; color: #000;">
                                                <span>@image.Caste</span>, <span>@image.Religion</span> <br>
                                                <span>@image.State</span>, <span>@image.Country</span>
                                            </div>
                                        </div>
                                    }
                                    @{ count = 0; }
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                                   data-slide="prev">
                                    <i class="fa fa-chevron-left" aria-hidden="true" style="color: gray;"></i>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                                   data-slide="next">
                                    <i class="fa fa-chevron-right" aria-hidden="true" style="color: gray;"></i>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        }
                    </div>
                </div>
                @if (listingDetailVM.Keywords != null)
                {
                    <div class="listing-specialisat box_detail_cus">
                        <h6>SERVICES</h6>
                        <ul class="listing-specialisat-list">
                            @foreach (var keyword in listingDetailVM.Keywords)
                            {
                                <li><i class="fa fa-check"></i> @keyword.SeoKeyword</li>
                            }
                        </ul>
                    </div>
                }
                <div class="listing-specialisat box_detail_cus">
                    <h6>Specialisation</h6>
                    <ul class="listing-specialisat-list">
                        @if (listingDetailVM.Specialisation.AcceptTenderWork)
                        {
                            <li><i class="fa fa-check"></i> Accept Tender Work</li>
                        }
                        @if (listingDetailVM.Specialisation.Banks)
                        {
                            <li><i class="fa fa-check"></i> Bank</li>
                        }
                        @if (listingDetailVM.Specialisation.ExhibitionStall)
                        {
                            <li><i class="fa fa-check"></i> Exhibition Stall</li>
                        }
                        @if (listingDetailVM.Specialisation.Hotel)
                        {
                            <li><i class="fa fa-check"></i> Hotel</li>
                        }
                        @if (listingDetailVM.Specialisation.Restaurants)
                        {
                            <li><i class="fa fa-check"></i> Restaurants</li>
                        }
                        @if (listingDetailVM.Specialisation.BeautyParlors)
                        {
                            <li><i class="fa fa-check"></i> Beauty Parlors</li>
                        }
                        @if (listingDetailVM.Specialisation.Factory)
                        {
                            <li><i class="fa fa-check"></i> Factory</li>
                        }
                        @if (listingDetailVM.Specialisation.Laboratory)
                        {
                            <li><i class="fa fa-check"></i> Laboratory</li>
                        }
                        @if (listingDetailVM.Specialisation.Salons)
                        {
                            <li><i class="fa fa-check"></i> Salons</li>
                        }
                        @if (listingDetailVM.Specialisation.Bungalow)
                        {
                            <li><i class="fa fa-check"></i> Bungalow</li>
                        }
                        @if (listingDetailVM.Specialisation.Farmhouse)
                        {
                            <li><i class="fa fa-check"></i> Farmhouse</li>
                        }
                        @if (listingDetailVM.Specialisation.Mandir)
                        {
                            <li><i class="fa fa-check"></i> Mandir</li>
                        }
                        @if (listingDetailVM.Specialisation.Shop)
                        {
                            <li><i class="fa fa-check"></i> Shop</li>
                        }
                        @if (listingDetailVM.Specialisation.CallCenter)
                        {
                            <li><i class="fa fa-check"></i> Call Center</li>
                        }
                        @if (listingDetailVM.Specialisation.Gurudwara)
                        {
                            <li><i class="fa fa-check"></i> Gurudwara</li>
                        }
                        @if (listingDetailVM.Specialisation.Mosque)
                        {
                            <li><i class="fa fa-check"></i> Mosque</li>
                        }
                        @if (listingDetailVM.Specialisation.ShoppingMall)
                        {
                            <li><i class="fa fa-check"></i> Shopping Mall</li>
                        }
                        @if (listingDetailVM.Specialisation.Church)
                        {
                            <li><i class="fa fa-check"></i> Church</li>
                        }
                        @if (listingDetailVM.Specialisation.Gym)
                        {
                            <li><i class="fa fa-check"></i> Gym</li>
                        }
                        @if (listingDetailVM.Specialisation.Office)
                        {
                            <li><i class="fa fa-check"></i> Office</li>
                        }
                        @if (listingDetailVM.Specialisation.Showroom)
                        {
                            <li><i class="fa fa-check"></i> Showroom</li>
                        }
                        @if (listingDetailVM.Specialisation.Company)
                        {
                            <li><i class="fa fa-check"></i> Company</li>
                        }
                        @if (listingDetailVM.Specialisation.HealthClub)
                        {
                            <li><i class="fa fa-check"></i> Health Club</li>
                        }
                        @if (listingDetailVM.Specialisation.Plazas)
                        {
                            <li><i class="fa fa-check"></i> Plazas</li>
                        }
                        @if (listingDetailVM.Specialisation.Warehouse)
                        {
                            <li><i class="fa fa-check"></i> Warehouse</li>
                        }
                        @if (listingDetailVM.Specialisation.ComputerInstitute)
                        {
                            <li><i class="fa fa-check"></i> Computer Institute</li>
                        }
                        @if (listingDetailVM.Specialisation.Home)
                        {
                            <li><i class="fa fa-check"></i> Home</li>
                        }
                        @if (listingDetailVM.Specialisation.ResidentialSociety)
                        {
                            <li><i class="fa fa-check"></i> Residential Society</li>
                        }
                        @if (listingDetailVM.Specialisation.Dispensary)
                        {
                            <li><i class="fa fa-check"></i> Dispensary</li>
                        }
                        @if (listingDetailVM.Specialisation.Hospital)
                        {
                            <li><i class="fa fa-check"></i> Hospital</li>
                        }
                        @if (listingDetailVM.Specialisation.Resorts)
                        {
                            <li><i class="fa fa-check"></i> Resorts</li>
                        }
                    </ul>
                </div>
                <div class="listing-specialisat box_detail_cus">
                    <h6>PAYMENT DETAILS</h6>
                    <ul class="listing-specialisat-list">
                        @if (listingDetailVM.PaymentMode.Cash)
                        {
                            <li><i class="fa fa-check"></i> Cash</li>
                        }

                        @if (listingDetailVM.PaymentMode.NetBanking)
                        {
                            <li><i class="fa fa-check"></i> Net Banking</li>
                        }

                        @if (listingDetailVM.PaymentMode.Cheque)
                        {
                            <li><i class="fa fa-check"></i> Cheque</li>
                        }

                        @if (listingDetailVM.PaymentMode.RtgsNeft)
                        {
                            <li><i class="fa fa-check"></i> RTGS &amp; NEFT</li>
                        }

                        @if (listingDetailVM.PaymentMode.DebitCard)
                        {
                            <li><i class="fa fa-check"></i> Debit Card</li>
                        }

                        @if (listingDetailVM.PaymentMode.CreditCard)
                        {
                            <li><i class="fa fa-check"></i> Credit Card</li>
                        }

                        @if (listingDetailVM.PaymentMode.PayTM)
                        {
                            <li><i class="fa fa-check"></i> Pay TM</li>
                        }

                        @if (listingDetailVM.PaymentMode.PhonePay)
                        {
                            <li><i class="fa fa-check"></i> Phone Pay</li>
                        }

                        @if (listingDetailVM.PaymentMode.Paypal)
                        {
                            <li><i class="fa fa-check"></i> Paypal</li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 individual-listing-main padding-5">
                <div class="listing-gallery">
                    <div class="gallery">
                        @if (listingDetailVM.BannerImageDetail == null)
                        {
                            <a href="/resources/img/hero_in_restaurants_detail.jpg" class="big">
                                <img src="/resources/img/hero_in_restaurants_detail.jpg" alt="Image 2" title="Image 2" style="width: 100%;">
                            </a>
                        }
                        else
                        {
                            <a href="@listingDetailVM.BannerImageDetail.ImagePath" class="big">
                                <img src="@listingDetailVM.BannerImageDetail.ImagePath" alt="@listingDetailVM.BannerImageDetail.ImageTitle" title="@listingDetailVM.BannerImageDetail.ImageTitle" style="width: 100%;">
                            </a>
                        }
                    </div>
                </div>
                <div class="company-listing-main">
                    <div class="listing-details">
                        <div class="col-lg-4 col-md-12 company-map padding-all-5">
                            @if (listingDetailVM.GalleryImages != null && listingDetailVM.GalleryImages.Count > 0)
                            {
                                <div class="product-large-slider">
                                    @foreach (var image in listingDetailVM.GalleryImages)
                                    {
                                        <div class="pro-large-img img-zoom gallery1">
                                            <a href="@image.ImagePath" class="big">
                                                <img src="@image.ImagePath" alt="Gallery Image" style="width: 100%;" />
                                            </a>
                                        </div>
                                    }
                                </div>
                                <div class="pro-nav slick-row-10 slick-arrow-style">
                                    @foreach (var image in listingDetailVM.GalleryImages)
                                    {
                                        <div class="pro-nav-thumb">
                                            <img src="@image.ImagePath" alt="Gallery Image" />
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                        <div class="col-lg-8 col-md-12 company-details-list padding-all-5">
                            <div class="company-addes">
                                <div class="company-details">
                                    <h5 class="company-name">@listingDetailVM.Listing.CompanyName</h5>
                                </div>
                                <span class="company-category-name">@listingDetailVM.Listing.BusinessCategory</span>
                                <span class="company-rating">
                                    @listingDetailVM.RatingAverage.ToString("0.0")
                                    <div class="cat_star">
                                        <i class="icon_star @(listingDetailVM.RatingAverage >= 1 ? "active" : "")"></i>
                                        <i class="icon_star @(listingDetailVM.RatingAverage >= 2 ? "active" : "")"></i>
                                        <i class="icon_star @(listingDetailVM.RatingAverage >= 3 ? "active" : "")"></i>
                                        <i class="icon_star @(listingDetailVM.RatingAverage >= 4 ? "active" : "")"></i>
                                        <i class="icon_star @(listingDetailVM.RatingAverage >= 5 ? "active" : "")"></i>
                                    </div>
                                    @listingDetailVM.RatingCount ratings
                                </span>
                            </div>
                            <div class="col-lg-12 mim-Address">
                                <p>
                                    <i class="fa fa-map-marker"></i>
                                    @if (ToggleCompleteAddress)
                                    {
                                        <span>@listingDetailVM.Address.LocalAddress, @listingDetailVM.Address.Locality, </span>
                                    }
                                    <span>@listingDetailVM.Address.Assembly, @listingDetailVM.Address.City - @listingDetailVM.Address.Pincode, @listingDetailVM.Address.State,  @listingDetailVM.Address.Country </span>
                                    <a href="" @onclick:preventDefault @onclick="@(async () => await ToggleCompleteAddressAsync())">@(ToggleCompleteAddress ? "less" : "more")...</a>
                                </p>
                                <p>
                                    <span><i class="fa fa-map-o"></i> @listingDetailVM.Address.Locality</span>
                                </p>
                                <p>
                                    <span><i class="fa fa-map-signs"></i> @listingDetailVM.Address.Assembly</span>
                                </p>
                            </div>
                            <div class="col-12 col-md-6 mb-1 p-0 company-website">
                                @if (!string.IsNullOrWhiteSpace(listingDetailVM.Communication.Website))
                                {
                                    <i class="fa fa-globe"></i>
                                    <a href="http://@listingDetailVM.Communication.Website" target="_blank"
                                       title="@listingDetailVM.Communication.Website">
                                        @listingDetailVM.Communication.Website
                                    </a>
                                }
                            </div>
                            <div class="col-lg-12 mb-1 px-0 year_gst">
                                <p class="m-0"><i class="fa fa-calendar"></i> Year of Establishment @listingDetailVM.Listing.YearOfEstablishment.ToString("yyyy") </p>
                            </div>
                            @if (!string.IsNullOrWhiteSpace(@listingDetailVM.Listing.GSTNumber))
                            {
                                <div class="col-lg-12 mb-1 px-0 year_gst">
                                    <p class="m-0">
                                        <b>GST NO : </b>@listingDetailVM.Listing.GSTNumber
                                    </p>
                                </div>
                            }
                            <div class="col-lg-12 px-0 mb-1 year_gst mt-0">
                                <p class="mb-0"><i class="fa fa-users"></i>@listingDetailVM.Listing.NumberOfEmployees Employees</p>
                            </div>
                            <div class="col-lg-12 px-0 mb-1 year_gst mt-0">
                                <p class="mb-0"><b>Turnover : </b>@listingDetailVM.Listing.Turnover.</p>
                            </div>
                            <div class="col-lg-12 mb-1 px-0 year_gst">
                                <p class="m-0"><i class="fa fa-language mr-1"></i> <span>@listingDetailVM.Communication.Language</span> </p>
                            </div>
                            <div class="col-lg-12 mb-1 p-0">
                                @if (listingDetailVM.Communication != null)
                                {
                                    if (!string.IsNullOrWhiteSpace(listingDetailVM.Communication.Mobile))
                                    {
                                        <i class="fa fa-mobile"></i>
                                        <a href="tel:@listingDetailVM.Communication.Mobile" title="Call Now">@listingDetailVM.Communication.Mobile &nbsp;</a>
                                    }
                                    if (!string.IsNullOrWhiteSpace(listingDetailVM.Communication.Whatsapp))
                                    {
                                        <i class="fa fa-whatsapp"></i>
                                        <a href="tel:@listingDetailVM.Communication.Whatsapp" title="Whatsapp"> @listingDetailVM.Communication.Whatsapp &nbsp;</a>
                                    }
                                    if (listingDetailVM.Communication.Telephone != null)
                                    {
                                        <i class="fa fa-headphones"></i>
                                        <a href="tel:@listingDetailVM.Communication.Telephone" title="Telephone 1"> @listingDetailVM.Communication.Telephone &nbsp;</a>
                                    }
                                    if (listingDetailVM.Communication.TelephoneSecond != null)
                                    {
                                        <i class="fa fa-headphones"></i>
                                        <a href="tel:@listingDetailVM.Communication.TelephoneSecond" title="Telephone 2"> @listingDetailVM.Communication.TelephoneSecond &nbsp;</a>
                                    }
                                }
                            </div>
                            <div class="company-time">
                                <a class="company-time-title btn btn-link collapsed" data-toggle="collapse" href="#companytime" role="button" aria-expanded="false" aria-controls="companytime">
                                    <i class="fa fa-clock-o"></i>
                                    <span>
                                        <b style="color: @(listingDetailVM.BusinessWorkingHour.IsBusinessOpen ? "green" : "red");"> @listingDetailVM.BusinessWorkingHour.IsBusinessOpenText</b>
                                        @if (!listingDetailVM.BusinessWorkingHour.IsBusinessOpen)
                                        {
                                            <span>: Opens @listingDetailVM.BusinessWorkingHour.OpenTime <b>@listingDetailVM.BusinessWorkingHour.OpenDay</b></span>
                                        }
                                    </span>
                                </a>
                                <div class="collapse" id="companytime">
                                    <div class="card card-body">
                                        <div class="row">
                                            <div class="col-3">Monday</div>
                                            <div class="col-9">
                                                @listingDetailVM.WorkingHour.MondayFrom.ToString("hh:mm tt") to @listingDetailVM.WorkingHour.MondayTo.ToString("hh:mm tt")
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-3">Tuesday</div>
                                            <div class="col-9">
                                                @listingDetailVM.WorkingHour.TuesdayFrom.ToString("hh:mm tt") to @listingDetailVM.WorkingHour.TuesdayTo.ToString("hh:mm tt")
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-3">Wednesday</div>
                                            <div class="col-9">
                                                @listingDetailVM.WorkingHour.WednesdayFrom.ToString("hh:mm tt") to @listingDetailVM.WorkingHour.WednesdayTo.ToString("hh:mm tt")
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-3">Thursday</div>
                                            <div class="col-9">
                                                @listingDetailVM.WorkingHour.ThursdayFrom.ToString("hh:mm tt") to @listingDetailVM.WorkingHour.ThursdayTo.ToString("hh:mm tt")
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-3">Friday</div>
                                            <div class="col-9">
                                                @listingDetailVM.WorkingHour.FridayFrom.ToString("hh:mm tt") to @listingDetailVM.WorkingHour.FridayTo.ToString("hh:mm tt")
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-3">Saturday</div>
                                            <div class="col-9">
                                                @if (@listingDetailVM.WorkingHour.SaturdayHoliday)
                                                {
                                                    <span>Closed</span>
                                                }
                                                else
                                                {
                                                    <span>@listingDetailVM.WorkingHour.SaturdayFrom.ToString("hh:mm tt")to @listingDetailVM.WorkingHour.SaturdayTo.ToString("hh:mm tt")</span>
                                                }
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-3">Sunday</div>
                                            <div class="col-9">
                                                @if (@listingDetailVM.WorkingHour.SundayHoliday)
                                                {
                                                    <span>Closed</span>
                                                }
                                                else
                                                {
                                                    <span>@listingDetailVM.WorkingHour.SundayFrom.ToString("hh:mm tt") to @listingDetailVM.WorkingHour.SundayTo.ToString("hh:mm tt")</span>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="social-details">
                                <ListingEnquiryModal CurrentUserGuid="@CurrentUserGuid" ListingId="listingDetailVM.ListingId" />
                                @*<a href="@($"{BOL.Constants.FacebookLink} {listingDetailVM.Listing.CompanyName}&u={listingDetailVM.shareUrl}")" target="_blank"><i class="fa fa-facebook-official"></i></a>
                                    <a href="@($"{BOL.Constants.WhatsappLink} {listingDetailVM.Listing.CompanyName} : {listingDetailVM.shareUrl}")" target="_blank"><i class="fa fa-whatsapp"></i></a>*@
                                @if (userAuthenticated)
                                {
                                    <button id="BookmarkMe" class="pushRight btn btn-sm @(listingDetailVM.IsBookmarked ? "btn-success" : "btn-light")" @onclick="@(async () => await ToggleBookmark())">
                                        <i class="fa fa-bookmark-o"></i> Bookmark
                                    </button>
                                    @*<a href="#0" class="mim-marginLeft-Minus20 btn btn-light btn-sm"><i class="icon-share"></i> Share</a>*@
                                    <ShareModal listingDetailVM="@listingDetailVM" />
                                    <button id="LikeMe" class="pushRight btn btn-sm ml-1 @(listingDetailVM.IsLiked ? "btn-success" : "btn-light")" @onclick="@(async () => await ToggleLikeAsync())">
                                        <i class="fa fa-thumbs-o-up"></i> Like
                                    </button>
                                    <button id="SubscribeMe" class="pushRight btn btn-sm ml-1 @(listingDetailVM.IsSubscribe ? "btn-success" : "btn-light")" @onclick="@(async () => await ToggleSubscribeAsync())">
                                        <i class="fa fa-bell-o"></i> Subscribe
                                    </button>
                                }
                                else
                                {
                                    <button id="BookmarkMe" class="pushRight btn btn-light btn-sm"><i class="fa fa-bookmark-o"></i> Bookmark</button>
                                    <a href="#0" class="mim-marginLeft-Minus20 btn btn-light btn-sm"><i class="icon-share"></i></a>
                                    <button id="LikeMe" class="pushRight btn btn-light btn-sm ml-1"><i class="fa fa-thumbs-o-up"></i> Like</button>
                                    <button id="SubscribeMe" class="pushRight btn btn-light btn-sm ml-1"><i class="fa fa-bell-o"></i> Subscribe</button>
                                }
                            </div>
                            @if (listingDetailVM.SocialNetwork != null)
                            {
                                <div class="col-lg-12 social-share p-0">
                                    @if (!string.IsNullOrWhiteSpace(listingDetailVM.SocialNetwork.Facebook))
                                    {
                                        <a href="@listingDetailVM.SocialNetwork.Facebook" target="_blank"><i class="fa fa-facebook-official"></i></a>
                                    }
                                    @if (!string.IsNullOrWhiteSpace(listingDetailVM.SocialNetwork.WhatsappGroupLink))
                                    {
                                        <a href="@listingDetailVM.SocialNetwork.WhatsappGroupLink" target="_blank"><i class="fa fa-whatsapp"></i></a>
                                    }

                                    @if (!string.IsNullOrWhiteSpace(listingDetailVM.SocialNetwork.Linkedin))
                                    {
                                        <a href="listingDetailVM.SocialNetwork.Linkedin" target="_blank"><i class="fa fa-linkedin-square"></i></a>
                                    }
                                    @if (!string.IsNullOrWhiteSpace(listingDetailVM.SocialNetwork.Twitter))
                                    {
                                        <a href="@listingDetailVM.SocialNetwork.Twitter" target="_blank"><i class="fa fa-twitter-square"></i></a>
                                    }
                                    @if (!string.IsNullOrWhiteSpace(listingDetailVM.SocialNetwork.Youtube))
                                    {
                                        <a href="@listingDetailVM.SocialNetwork.Youtube" target="_blank"><i class="fa fa-youtube-play"></i></a>
                                    }
                                    @if (!string.IsNullOrWhiteSpace(listingDetailVM.SocialNetwork.Instagram))
                                    {
                                        <a href="@listingDetailVM.SocialNetwork.Instagram" target="_blank"><i class="fa fa-instagram"></i></a>
                                    }
                                    @if (!string.IsNullOrWhiteSpace(listingDetailVM.SocialNetwork.Pinterest))
                                    {
                                        <a href="@listingDetailVM.SocialNetwork.Pinterest" target="_blank"><i class="fa fa-pinterest-square"></i></a>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                    <div class="banner-block one-block my-5">
                        <div class="row px-3">
                            <div class="col-12">
                                <h3>About Us </h3>
                                <p>
                                    @listingDetailVM.Listing.Description
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="company-listing-tab">
                        <div class="step">
                            <ul class="nav nav-tabs" id="tab_checkout" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="true">Reviews</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="certificates-tab" data-toggle="tab" href="#certificates" role="tab" aria-controls="certificates" aria-selected="false">Certificates</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="clients-tab" data-toggle="tab" href="#clients" role="tab" aria-controls="clients" aria-selected="false">Clients</a>
                                </li>
                            </ul>
                            <div class="tab-content checkout">
                                <div class="tab-pane fade show active" id="reviews" role="tabpanel" aria-labelledby="reviews">
                                    <div class="review-form mb-3">

                                        <div class="d-flex justify-content-between">
                                            <div class="Count_review">
                                                @listingDetailVM.listReviews.Count Reviews, 100% genuine ratings from My Interior Mart users
                                            </div>
                                            @if (userAuthenticated)
                                            {
                                                <div class="">
                                                    <a class="btn btn-link" data-toggle="collapse" href="#WriteReview" role="button"
                                                       aria-expanded="false" aria-controls="WriteReview">
                                                        <i class="icon-pencil"></i> @(listingDetailVM.Rating <= 0 ? "Write Review" : "Edit Review")
                                                    </a>
                                                </div>

                                                @*<div class="" style="text-align: right;">
                                                        <a class="btn btn-link" data-toggle="collapse" href="#WriteReview" role="button" aria-expanded="false" aria-controls="WriteReview">
                                                            <i class="icon-pencil"></i> @(listingDetailVM.Rating <= 0 ? "Write Review" : "Edit Review")
                                                        </a>
                                                    </div>*@
                                            }
                                            else
                                            {
                                                <a class="btn btn-link" href="/Auth/Login" role="button">
                                                    <i class="icon-pencil"></i> Login to Write Review
                                                </a>
                                            }
                                        </div>
                                        @if (userAuthenticated)
                                        {
                                            <div class="add-review collapse" id="WriteReview">
                                                <div class="card card-body">
                                                    <h6>@(listingDetailVM.Rating <= 0 ? "Leave a Review" : "Edit Review")</h6>
                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <Rate @bind-Value="listingDetailVM.Rating" />
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Your Review</label>
                                                            <textarea @bind="@listingDetailVM.CurrentUserRating.Comment" name="review_text" id="review_text" class="form-control" style="height:130px !important;"></textarea>
                                                        </div>
                                                        <div class="form-group col-md-12 add_top_20 add_bottom_30">
                                                            <button class="btn btn-primary" @onclick="@(async () => await CreateOrUpdateRating())">Submit</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    <hr />
                                    <div class="row review_row">
                                        @foreach (var review in listingDetailVM.listReviews)
                                        {
                                            <div class="col-md-12 col-lg-12 review-user">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="row">
                                                            <div class="col-lg-2 col-3 text-center">
                                                                <div class="review_img_sec">
                                                                    <img src="@review.UserImage" class="rounded-circle img-thumbnail">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-10 pl-lg-0">
                                                                <div class="cat_star">
                                                                    <i class="icon_star @(review.Ratings >= 1 ? "active" : "")"></i>
                                                                    <i class="icon_star @(review.Ratings >= 2 ? "active" : "")"></i>
                                                                    <i class="icon_star @(review.Ratings >= 3 ? "active" : "")"></i>
                                                                    <i class="icon_star @(review.Ratings >= 4 ? "active" : "")"></i>
                                                                    <i class="icon_star @(review.Ratings >= 5 ? "active" : "")"></i>
                                                                    <span><strong>@review.UserName – @review.Date</strong> </span>
                                                                </div>
                                                                <p>@review.Comment<a href="#0"> view more...</a></p>
                                                                @if (@review.RatingReply.Id > 0)
                                                                {
                                                                    <div class="owner_reply">
                                                                        <span><strong>Reply from Owner</strong> </span>
                                                                        <p class="m-0">
                                                                            @review.RatingReply.Message
                                                                            <a href="#0">view more...</a>
                                                                        </p>
                                                                    </div>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                        }
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="certificates" role="tabpanel"
                                     aria-labelledby="certificates">
                                    <div class="row justify-content-center pt-5 px-3">
                                        @if (listingDetailVM.CertificateImages != null)
                                        {
                                            foreach (var certificate in listingDetailVM.CertificateImages)
                                            {
                                                <div class="col-md-4 col-6 mb-3">
                                                    <div class="certificate_img_sec">
                                                        <img src="@certificate.ImageUrl" alt="@certificate.TitleOrName" class="certificate_img">
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="clients" role="tabpanel" aria-labelledby="clients">
                                    <div class="row pt-4 px-4">
                                        <div class="owl-coursel-img-4 owl-carousel owl-theme mt-4">
                                            @if (listingDetailVM.ClientImages != null)
                                            {
                                                foreach (var client in listingDetailVM.ClientImages)
                                                {
                                                    <div class="item">
                                                        <div class="cleints_img_sec">
                                                            <img src="@client.ImageUrl" alt="@client.TitleOrName" class="cleints_img">
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @if (!String.IsNullOrEmpty(ErrorMessage))
                {
                    <div class="d-flex justify-content-center">
                        <p>@ErrorMessage</p>
                    </div>
                }
            </div>
        }
        else
        {
            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        }
    </div>
</div>