@using BAL.Services.Contracts

@model IEnumerable<BOL.LISTING.Rating>
@inject ICategory categoryRepo
@inject IAddresses addressRepo
@inject IListingManager listingRepo
@inject IUserService userService
@inject IUserProfileService userProfileService

@{
    ViewData["Title"] = "All Reviews";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
    ViewData["RowCount"] = Model.Count();
}

<!-- Begin: Breadcrumb -->
@{
    ViewData["BC-1"] = "Listings";
    ViewData["BC-2"] = "Manage";
    ViewData["BC-3"] = ViewData["Title"];
    ViewData["BT-Text-1"] = "Manage";
    ViewData["BT-Link-1"] = "/Listings/Manage/AllReviews";
    ViewData["BT-Text-2"] = "View";
    ViewData["BT-Link-2"] = "/Listings/Manage/";
    ViewData["BT-Text-3"] = "";
    ViewData["BT-Link-3"] = "";
    ViewData["BT-Text-4"] = "";
    ViewData["BT-Link-4"] = "";
}
<!-- End: -->

<h5>@ViewData["Title"]<span class="float-right">Total : @ViewData["RowCount"]</span></h5>
<hr />

<div class="table-responsive">
    <table id="example1" class="table key-buttons text-md-nowrap display nowrap" style="width:100%">
        <thead>
            <tr>
                <th class="border-bottom-0">ID</th>
                <th class="border-bottom-0">Company</th>
                <th class="border-bottom-0">Name</th>
                <th class="border-bottom-0">Ratings</th>
                <th class="border-bottom-0">Date</th>
                <th class="border-bottom-0">Review By</th>
                <th class="border-bottom-0">Mobile</th>
                <th class="border-bottom-0">Email</th>
                <th class="border-bottom-0">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                // Begin: Get difference between dates
                DateTime currentDate = DateTime.Now;
                TimeSpan timeSpan = currentDate.Subtract(item.Date);
                // End:

                // Begin: Get listing details
                var listing = await listingRepo.GetListingDetailsAsync(item.ListingID);
                var communication = await listingRepo.CommunicationDetailsAsync(item.ListingID);
                // End:

                // Begin: Get user details
                var user = await userService.GetUserById(item.OwnerGuid);
                var profile = await userProfileService.GetProfileByOwnerGuid(item.OwnerGuid);
                // End:

                <tr>
                    <td><strong>@item.RatingID</strong></td>
                    <td>@listing.CompanyName</td>
                    <td>@listing.Name</td>
                    <td>@item.Ratings Stars</td>
                    <td>
                        <p title="@item.Date.ToString("ddd MMM, yyyy")">
                            @DateTime.UtcNow.AddMinutes(-timeSpan.TotalMinutes).Humanize()
                        </p>
                    </td>
                    <td>
                        @if (profile != null)
                        {
                            <span>@profile.Name</span>
                        }
                        else
                        {
                            <span>-</span>
                        }
                    </td>
                    <td>@user.PhoneNumber</td>
                    <td>@user.Email</td>
                    <td>
                        <a href="~/ManageUsers/UserProfile/" class="btn btn-primary btn-sm" target="_blank">View</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    @await Component.InvokeAsync("DataTable")
}