@model BOL.AUDITTRAIL.ListingLastUpdated

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

@{
    ViewData["BT-Text1"] = "";
    ViewData["BT-Link1"] = "";
    ViewData["BT-Text2"] = "";
    ViewData["BT-Link2"] = "";
    ViewData["BT-Text3"] = "";
    ViewData["BT-Link3"] = "";
    ViewData["BT-Text4"] = "";
    ViewData["BT-Link4"] = "";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ListingLastUpdated</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ListingID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ListingID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedByGuid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdatedByGuid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mobile)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IPAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IPAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserRole)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserRole)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SectionUpdated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SectionUpdated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdatedTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedURL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdatedURL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserAgent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserAgent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="LastUpdatedID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
