@model BOL.CATEGORIES.KeywordFifthCategory

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<!-- Begin: Breadcrumb -->
@{
    ViewData["BC-1"] = "Keywords";
    ViewData["BC-2"] = "Manage";
    ViewData["BC-3"] = ViewData["Title"];
    ViewData["BT-Text-1"] = "Manage";
    ViewData["BT-Link-1"] = "/Keywords/KeywordFifthCategories/Index";
    ViewData["BT-Text-2"] = "Create";
    ViewData["BT-Link-2"] = "/Keywords/KeywordFifthCategories/Create";
    ViewData["BT-Text-3"] = "";
    ViewData["BT-Link-3"] = "";
    ViewData["BT-Text-4"] = "";
    ViewData["BT-Link-4"] = "";
}
<!-- End: -->

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>KeywordFifthCategory</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Keyword)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Keyword)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.URL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.URL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstCategory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstCategory.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SecondCategory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SecondCategory.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ThirdCategory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ThirdCategory.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FourthCategory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FourthCategory.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FifthCategory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FifthCategory.Description)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="KeywordFifthCategoryID" />
        <a href="/DeepKeywords/Browse/Fifth/@Model.FirstCategoryID" class="btn btn-danger btn-sm">Cancel</a>
        <input type="submit" value="Delete" class="btn btn-primary btn-sm ml-3" />
    </form>
</div>
