@page "/ManageListing/AllListing"
@inject AuthenticationStateProvider authenticationState

<AuthorizeView>
    <Authorized>
        <main>
            <div class="container margin_60_35">
                <div class="row">
                    <div class="col-lg-3">
                        <SideNavigation isVendor="@isVendor" currentPage="@BOL.Constants.MyListings" />
                    </div>

                    <div class="col-lg-9">
                        <div class="tab-content profile-sidebar-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                <h5>My Listings</h5>
                                <div class="list_general">
                                    <ul>
                                        @if (userListings != null)
                                        {
                                            foreach (var i in userListings)
                                            {
                                                <li>
                                                    <figure>
                                                        <Avatar Style="color: #f56a00; background-color: #fde3cf; ">
                                                            @i.CompanyName[0].ToString()
                                                        </Avatar>
                                                    </figure>
                                                    <h4>@i.CompanyName</h4>
                                                    <small>@i.CreatedDate.ToString("dd/MM/yyyy")</small>
                                                    <p><a href="/Listing/Index/@i.ListingID" target="_blank" class="btn_1 gray"><i class="fa fa-fw fa-eye"></i> View Listing</a></p>
                                                    <ul class="buttons">
                                                        <li><a href="/MyAccount/ListingWizard/CompanyEdit/@i.ListingID" class="btn_1 gray delete wishlist_close"><i class="fa fa-fw fa-times-circle-o"></i> Edit</a></li>
                                                    </ul>
                                                </li>
                                            }
                                        }
                                        else
                                        {
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </Authorized>
    <NotAuthorized>
        <UnAuthorizedUser />
    </NotAuthorized>
</AuthorizeView>

