@page "/ManageListing/AllReviews"

<style>
    .example {
        text-align: center;
        background: rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        margin-bottom: 20px;
        padding: 30px 50px;
        margin: 20px 0;
    }
</style>

<AuthorizeView>
    <Authorized>
        <main>
            <div class="container my-5">
                <div class="row">
                    <div class="col-md-12">
                        <div class="profile-sidebar-content">
                            <h4>Review</h4>
                            <p class="add-lidting-title-from">
                                My Activity / Review
                                <span>
                                    <a class="back_btn mx-3" href="/MyAccount/MyActivity">Back</a>
                                </span>
                            </p>
                            <div class="list_general reviews">
                                <ul>
                                    @if (ReviewListingVMs != null)
                                    {
                                        foreach (var reviewListing in ReviewListingVMs)
                                        {
                                            <li>
                                                <span>@reviewListing.Date</span>
                                                <div class="company-rating pl-2 d-inline-flex">
                                                    <div class="cat_star">
                                                        @for (int j = 1; j <= reviewListing.RatingLimit; j++)
                                                        {
                                                            <i class="icon_star @(j <= reviewListing.Ratings ? "active" : "")"></i>
                                                        }
                                                    </div>
                                                </div>
                                                <figure><img src="@reviewListing.UserImage" alt="@reviewListing.UserName"></figure>
                                                <h4>@reviewListing.Name <small>@reviewListing.BusinessCategory</small></h4>
                                                <p>@reviewListing.Comment</p>
                                                <div class="row mb-2">
                                                    <div class="inline-popups mr-2">
                                                        <a href="/Listing/Index/@reviewListing.ListingId" target="_blank" data-effect="mfp-zoom-in" class="btn_1 gray">
                                                            <i class="fa fa-fw fa-reply"></i> Reply
                                                        </a>
                                                    </div>
                                                    @*<div class="inline-popups">
                                                            <a href="#" data-effect="mfp-zoom-in" class="btn_1 gray">
                                                                <i class="fa fa-fw fa-times-circle-o"></i> Remove this review
                                                            </a>
                                                        </div>*@
                                                </div>
                                            </li>
                                        }
                                    }
                                    else
                                    {
                                        <div class="example">
                                            <Spin />
                                        </div>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </Authorized>
    <NotAuthorized>
        <UnAuthorizedUser />
    </NotAuthorized>
</AuthorizeView>

