@page "/ManageListing/AllSubscribes"

<style>
    .example {
        text-align: center;
        background: rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        margin-bottom: 20px;
        padding: 30px 50px;
        margin: 20px 0;
    }
</style>

<AuthorizeView>
    <Authorized>
        <main>
            <div class="container margin_60_35">
                <div class="row">
                    <div class="col-lg-3">
                        <SideNavigation isVendor="@isVendor" currentPage="@BOL.Constants.Subscribe" />
                    </div>

                    <div class="col-lg-9">
                        <div class="tab-content profile-sidebar-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                <div class="add-review">
                                    <h5>Subscribe</h5>
                                    <div class="list_general like-listing">
                                        <ul>
                                            @if (subscribeListingVM != null)
                                            {
                                                foreach (var subscribeListingVM in subscribeListingVM)
                                                {
                                                    <li>
                                                        <div class="image">
                                                            <img src="@subscribeListingVM.UserImage" alt="@subscribeListingVM.UserName">
                                                        </div>
                                                        <span>@subscribeListingVM.VisitDate</span><br />
                                                        <p class="description">
                                                            <i class="fa fa-link" aria-hidden="true"></i><strong> "@subscribeListingVM.UserName"</strong> @subscribeListingVM.ActivityText your listing: "@subscribeListingVM.CompanyName"
                                                        </p>
                                                    </li>
                                                }
                                            }
                                            else
                                            {
                                                <div class="example">
                                                    <Spin />
                                                </div>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </Authorized>
    <NotAuthorized>
        <UnAuthorizedUser />
    </NotAuthorized>
</AuthorizeView>

