@page "/ManageListing/AllSubscribes"
@inject ListingDbContext listingContext
@inject AuditDbContext auditContext
@inject CategoriesDbContext categoriesContext
@inject AuthenticationStateProvider authenticationState

<style>
    .example {
        text-align: center;
        background: rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        margin-bottom: 20px;
        padding: 30px 50px;
        margin: 20px 0;
    }
</style>

<AuthorizeView>
    <Authorized>
        <main>
            <div class="container margin_60_35">
                <div class="row">
                    <div class="col-lg-3">
                        <SideNavigation isVendor="@isVendor" currentPage="@BOL.Constants.Subscribe" />
                    </div>

                    <div class="col-lg-9">
                        <div class="tab-content profile-sidebar-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                <div class="add-review">
                                    <h5>Subscribe</h5>
                                    <div class="list_general reviews">
                                        <ul>
                                            @if (listSLVM != null)
                                            {
                                                foreach (var i in listSLVM)
                                                {
                                                    <li>
                                                        <span>June 04 2021</span>
                                                        <figure>
                                                            <Avatar Style="color: #f56a00; background-color: #fde3cf; ">@i.NameFirstLetter</Avatar>
                                                        </figure>
                                                        <h4>@i.CompanyName <small class="float-right" style="font-size:12px;">@i.FirstCat > @i.SecondCat</small></h4>

                                                        <div class="row mb-2">
                                                            <div class="inline-popups mr-2">
                                                                <a href="/Listing/Index/@i.ListingID" target="_blank" data-effect="mfp-zoom-in" class="btn_1 gray">
                                                                    <i class="fa fa-fw fa-reply"></i> View Listing
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                }
                                            }
                                            else
                                            {
                                                <div class="example">
                                                    <Spin />
                                                </div>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </Authorized>
    <NotAuthorized>
        <UnAuthorizedUser />
    </NotAuthorized>
</AuthorizeView>

