@page "/"
@inject ListingDbContext listingContext
@inject AuditDbContext auditContext
@inject CategoriesDbContext categoriesContext
@inject SharedDbContext sharedContext
@inject AuthenticationStateProvider authenticationState
@inject NotificationService _notice
@inject IJSRuntime jsRuntime
@inject IWebHostEnvironment webEnv
<!-- Begin: Main Body -->
<BasicSearch />
<div class="container">
    <!--Top Banner Start-->
    <div class="banner-img-4 owl-carousel owl-theme mt-4">
        @if (indexVM.HomeBannerTop != null && indexVM.HomeBannerTopLimit > 0)
        {
            for (int i = 0; i < indexVM.HomeBannerTopLimit; i++)
            {
                <div class="item">
                    @if (indexVM.HomeBannerTop.Count() > i)
                    {
                        var ban = indexVM.HomeBannerTop[i];
                        <a href="@ban.LinkUrl" target="@ban.TargetWindow" class="grid_item small">
                            <figure>
                                <img src=@($"/FileManager/banner/{@ban.Name}.jpg") alt="@ban.Name">
                            </figure>
                        </a>
                    }
                    else
                    {
                        <a href="#" class="grid_item small">
                            <figure>
                                <img src=@($"/FileManager/banner/static/hometop{i+1}.jpg") alt="">
                            </figure>
                        </a>
                    }
                </div>
            }
        }
    </div>
    <!--Top Banner End-->
    <!-- Services Category Start -->
    <div class="category-featured">
        <div class="show-brand">
            <div class="row">
                <div class="col-lg-2 col-md-12 category-list">
                    <div class="navbar-brand">
                        <button class="btn btn-link navbar-brand-btn" type="button">SERVICES</button>
                    </div>
                    <div class="navbar-brand-offer-menu">
                        <button class="btn btn-link navbar-brand-offer-btn" type="button">SERVICES</button>
                    </div>
                    <div class="mim-HomeSideMenu">
                        @if (indexVM.Services != null)
                        {
                            <ul>
                                @foreach (var cat in indexVM.Services.Skip(16).Take(17))
                                {
                                    <li class="mim-box-list">
                                        <a href="/Third/@cat.URL" title="@cat.SearchKeywordName">
                                            <img src="@($"/FileManager/CategoryIcons/Second/{cat.URL}.png")" alt="@cat.SearchKeywordName" class="img-fluid">
                                            @cat.Name
                                        </a>
                                    </li>
                                }
                                <li class="mim-box-list">More >></li>
                            </ul>
                        }
                        else
                        {
                            <div class="d-flex justify-content-center">
                                <div class="spinner-border" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-lg-10 col-md-12 brand-category-list">
                    <div class="navbar-brand-offer">

                    </div>
                    <div class="mim-Box">
                        <div class="row no-gutters">
                            <div class="col-md-4 mim-Box-img">
                                <div class="banner-img-1 owl-carousel owl-theme">
                                    <img class="d-block w-100" src="/banners/011-600-x-900.jpg" alt="First slide">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="tab-content checkout" id="myTabContent">
                                    <div class="tab-pane fade show active" id="cutomize" role="tabpanel" aria-labelledby="cutomize">
                                        <div class="row no-gutters">
                                            @if (indexVM.Services != null)
                                            {
                                                foreach (var cat in indexVM.Services.Take(16))
                                                {
                                                    <div class="col-md-3 col-sm-3 col-3 mim-Box-item">
                                                        <a href="/Third/@cat.URL">
                                                            <img src="@($"/FileManager/CategoryIcons/Second/{cat.URL}.png")" class="img-fluid">
                                                            <p>@cat.Name</p>
                                                        </a>
                                                    </div>
                                                }
                                            }
                                            else
                                            {
                                                <div class="d-flex justify-content-center">
                                                    <div class="spinner-border" role="status">
                                                        <span class="sr-only">Loading...</span>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="monopoly" role="tabpanel" aria-labelledby="monopoly">
                                        dasd1a231d31sad
                                    </div>
                                    <div class="tab-pane fade" id="latest" role="tabpanel" aria-labelledby="latest">
                                        dasd1a231d31sad
                                    </div>
                                    <div class="tab-pane fade" id="running" role="tabpanel" aria-labelledby="running">
                                        dasd1a231d31sad
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services Category End -->
    <!--Middle Banner 1 Start-->
    <div class="banner-img-2 owl-carousel owl-theme mt-4">
        @if (indexVM.HomeBannerMiddle1 != null && indexVM.HomeBannerMiddle1Limit > 0)
        {
            for (int i = 0; i < indexVM.HomeBannerMiddle1Limit; i++)
            {
                <div class="item">
                    @if (indexVM.HomeBannerMiddle1.Count() > i)
                    {
                        var ban = indexVM.HomeBannerMiddle1[i];
                        <a href="@ban.LinkUrl" target="@ban.TargetWindow" class="grid_item small">
                            <figure>
                                <img src=@($"/FileManager/banner/{@ban.Name}.jpg") alt="@ban.Name">
                            </figure>
                        </a>
                    }
                    else
                    {
                        <a href="#" class="grid_item small">
                            <figure>
                                <img src=@($"/FileManager/banner/static/extra{i+1}.jpg") alt="">
                            </figure>
                        </a>
                    }
                </div>
            }
        }
    </div>
    <!--Middle Banner 1 End-->
    <!-- Contrators Category Start -->
    <div class="category-featured">
        <div class="show-brand">
            <div class="row">
                <div class="col-lg-2 col-md-12 category-list">
                    <div class="navbar-brand">
                        <button class="btn btn-link navbar-brand-btn" type="button">CONTRACTORS</button>
                    </div>
                    <div class="navbar-brand-offer-menu">
                        <button class="btn btn-link navbar-brand-offer-btn" type="button">CONTRACTORS</button>
                    </div>
                    <div class="mim-HomeSideMenu">
                        @if (indexVM.Contractors != null)
                        {
                            <ul>
                                @foreach (var cat in indexVM.Contractors.Skip(16).Take(17))
                                {
                                    <li class="mim-box-list">
                                        <a href="/Third/@cat.URL" title="@cat.SearchKeywordName">
                                            <img src="@($"/FileManager/CategoryIcons/Second/{cat.URL}.png")" alt="@cat.SearchKeywordName" class="img-fluid">
                                            @cat.Name
                                        </a>
                                    </li>
                                }
                            </ul>
                        }
                        else
                        {
                            <div class="d-flex justify-content-center">
                                <div class="spinner-border" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-lg-10 col-md-12 brand-category-list">
                    <div class="navbar-brand-offer">

                    </div>
                    <div class="mim-Box">
                        <div class="row no-gutters">
                            <div class="col-md-4 mim-Box-img">
                                <div class="banner-img-1 owl-carousel owl-theme">
                                    <img class="d-block w-100" src="/banners/010-600-x-900.jpg" alt="First slide">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="tab-content checkout" id="myTabContent">
                                    <div class="tab-pane fade show active" id="cutomizework" role="tabpanel" aria-labelledby="cutomizework">
                                        <div class="row no-gutters">
                                            @if (indexVM.Contractors != null)
                                            {
                                                foreach (var cat in indexVM.Contractors.Take(16))
                                                {
                                                    <div class="col-md-3 col-sm-3 col-3 mim-Box-item">
                                                        <a href="/Third/@cat.URL">
                                                            <img src="@($"/FileManager/CategoryIcons/Second/{cat.URL}.png")" class="img-fluid">
                                                            <p>@cat.Name</p>
                                                        </a>
                                                    </div>
                                                }
                                            }
                                            else
                                            {
                                                <div class="d-flex justify-content-center">
                                                    <div class="spinner-border" role="status">
                                                        <span class="sr-only">Loading...</span>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="monopolycontractors" role="tabpanel" aria-labelledby="monopolycontractors">
                                        Monopoly work
                                    </div>
                                    <div class="tab-pane fade" id="unique" role="tabpanel" aria-labelledby="unique">
                                        Unique Projects
                                    </div>
                                    <div class="tab-pane fade" id="latestcontractors" role="tabpanel" aria-labelledby="latestcontractors">
                                        Latest Projects
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contrators Category End -->
    <!--Middle Banner 2 Start-->
    <div class="banner-img-2 owl-carousel owl-theme mt-4">
        @if (indexVM.HomeBannerMiddle2 != null && indexVM.HomeBannerMiddle2Limit > 0)
        {
            for (int i = 0; i < indexVM.HomeBannerMiddle2Limit; i++)
            {
                <div class="item">
                    @if (indexVM.HomeBannerMiddle2.Count() > i)
                    {
                        var ban = indexVM.HomeBannerMiddle2[i];
                        <a href="@ban.LinkUrl" target="@ban.TargetWindow" class="grid_item small">
                            <figure>
                                <img src=@($"/FileManager/banner/{@ban.Name}.jpg") alt="@ban.Name">
                            </figure>
                        </a>
                    }
                    else
                    {
                        <a href="#" class="grid_item small">
                            <figure>
                                <img src=@($"/FileManager/banner/static/extra{i+1}.jpg") alt="">
                            </figure>
                        </a>
                    }
                </div>
            }
        }
    </div>
    <!--Middle Banner2 End-->
    <!-- Dealers Category Start -->
    <div class="category-featured">
        <div class="show-brand">
            <div class="row">
                <div class="col-lg-2 col-md-12 category-list">
                    <div class="navbar-brand">
                        <button class="btn btn-link navbar-brand-btn" type="button">DEALERS</button>
                    </div>
                    <div class="navbar-brand-offer-menu">
                        <button class="btn btn-link navbar-brand-offer-btn" type="button">DEALERS</button>
                    </div>
                    <div class="mim-HomeSideMenu">
                        @if (indexVM.Dealers != null)
                        {
                            <ul>
                                @foreach (var cat in indexVM.Dealers.Skip(16).Take(17))
                                {
                                    <li class="mim-box-list">
                                        <a href="/Third/@cat.URL" title="@cat.SearchKeywordName">
                                            <img src="@($"/FileManager/CategoryIcons/Second/{cat.URL}.png")" alt="@cat.SearchKeywordName" class="img-fluid">
                                            @cat.Name
                                        </a>
                                    </li>
                                }
                                <li class="mim-box-list">More >></li>
                            </ul>
                        }
                        else
                        {
                            <div class="d-flex justify-content-center">
                                <div class="spinner-border" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-lg-10 col-md-12 brand-category-list">
                    <div class="navbar-brand-offer">

                    </div>
                    <div class="mim-Box">
                        <div class="row no-gutters">
                            <div class="col-md-4 mim-Box-img">
                                <div class="banner-img-1 owl-carousel owl-theme">
                                    <img class="d-block w-100" src="/banners/009-600-x-900.jpg" alt="First slide">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="tab-content checkout" id="myTabContent">
                                    <div class="tab-pane fade show active" id="cutomizeworkdealers" role="tabpanel" aria-labelledby="cutomizeworkdealers">
                                        <div class="row no-gutters">
                                            @if (indexVM.Dealers != null)
                                            {
                                                foreach (var cat in indexVM.Dealers.Take(16))
                                                {
                                                    <div class="col-md-3 col-sm-3 col-3 mim-Box-item">
                                                        <a href="/Third/@cat.URL">
                                                            <img src="@($"/FileManager/CategoryIcons/Second/{cat.URL}.png")" class="img-fluid">
                                                            <p>@cat.Name</p>
                                                        </a>
                                                    </div>
                                                }
                                            }
                                            else
                                            {
                                                <div class="d-flex justify-content-center">
                                                    <div class="spinner-border" role="status">
                                                        <span class="sr-only">Loading...</span>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="monoploydealers" role="tabpanel" aria-labelledby="monoploydealers">
                                        Monopoly Dealers
                                    </div>
                                    <div class="tab-pane fade" id="latestdealers" role="tabpanel" aria-labelledby="latestdealers">
                                        Latest Dealers
                                    </div>
                                    <div class="tab-pane fade" id="imported" role="tabpanel" aria-labelledby="imported">
                                        Imported Dealers
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Dealers Category End -->
    <!-- Banner Bottom Start -->
    <div class="banner-img-2 owl-carousel owl-theme mt-4">
        @if (indexVM.HomeBannerBottom != null && indexVM.HomeBannerBottomLimit > 0)
        {
            for (int i = 0; i < indexVM.HomeBannerBottomLimit; i++)
            {
                <div class="item">
                    @if (indexVM.HomeBannerBottom.Count() > i)
                    {
                        var ban = indexVM.HomeBannerBottom[i];
                        <a href="@ban.LinkUrl" target="@ban.TargetWindow" class="grid_item small">
                            <figure>
                                <img src=@($"/FileManager/banner/{@ban.Name}.jpg") alt="@ban.Name">
                            </figure>
                        </a>
                    }
                    else
                    {
                        <a href="#" class="grid_item small">
                            <figure>
                                <img src=@($"/FileManager/banner/static/extra{i+1}.jpg") alt="">
                            </figure>
                        </a>
                    }
                </div>
            }
        }
    </div>
    <!-- Banner Bottom End -->
</div>
<!-- End: Main Body -->
