<div class="form-group col-12">
    <label>D.O.B</label>
    <input class="form-control" type="date" name="number" @bind="@UserAddressVM.DOB">
    <i class="icon_date"></i>
</div>
<div class="form-group col-12">
    <label>Marital Status</label>
    <select class="form-control wide add_bottom_10" @bind="@UserAddressVM.MaritialStatus">
        <option selected value="0">Choose...</option>
        <option value="Single">Single</option>
        <option value="Married">Married</option>
    </select>
</div>
<div class="form-group col-12">
    <label>Qualification</label>
    <input class="form-control" type="text" name="City" @bind="@UserAddressVM.Qualification">
    <!-- <i class="ti-location-arrow"></i> -->
</div>
<div class="form-group col-12">
    <label>Permanent Address</label>
    <textarea class="form-control" id="Address" name="Address"
              style="height:100px;" @bind="@UserAddressVM.Address"></textarea>
</div>
<div class="form-group col-6">
    <label>State</label>
    <select class="form-control wide add_bottom_10" @onchange="GetCityByStateId">
        <option value="0" selected>Choose...</option>
        @foreach (var p in UserAddressVM.States)
        {
            @if (UserAddressVM.State == p.StateID)
            {
                <option selected value="@p.StateID">@p.Name</option>
                continue;
            }
            <option value="@p.StateID">@p.Name</option>
        }
    </select>
</div>
<div class="form-group col-6">
    <label>City</label>
    <select class="form-control wide add_bottom_10" @onchange="GetAreaByCityId">
        <option value="0" selected>Choose...</option>
        @foreach (var p in UserAddressVM.Cities)
        {
            @if (UserAddressVM.City == p.CityID)
            {
                <option selected value="@p.CityID">@p.Name</option>
                continue;
            }
            <option value="@p.CityID">@p.Name</option>
        }
    </select>
</div>
<div class="form-group col-6">
    <label>Area</label>
    <select class="form-control wide add_bottom_10" @onchange="GetPincodesByAreaId">
        <option value="0" selected>Choose...</option>
        @foreach (var p in UserAddressVM.Areas)
        {
            @if (UserAddressVM.Area == p.StationID)
            {
                <option selected value="@p.StationID">@p.Name</option>
                continue;
            }
            <option value="@p.StationID">@p.Name</option>
        }
    </select>
</div>
<div class="form-group col-6">
    <label>Pin Code</label>
    <select class="form-control wide add_bottom_10" @onchange="SetPinCode">
        <option value="0" selected>Choose...</option>
        @foreach (var p in UserAddressVM.Pincodes)
        {
            @if (UserAddressVM.Pincode == p.PincodeID)
            {
                <option selected value="@p.PincodeID">@p.PincodeNumber</option>
                continue;
            }
            <option value="@p.PincodeID">@p.PincodeNumber</option>
        }
    </select>
</div>
