<div class="form-group col-4">
    <label>D.O.B</label>
    <input class="form-control" type="date" name="number" @bind="@ProfileInfo.UserProfile.DateOfBirth">
    <i class="icon_date"></i>
</div>
<div class="form-group col-4">
    <label>Marital Status</label>
    <select class="form-control wide add_bottom_10" @bind="@ProfileInfo.UserProfile.MaritalStatus">
        <option selected value="0">Choose...</option>
        <option value="Single">Single</option>
        <option value="Married">Married</option>
    </select>
</div>
<div class="form-group col-4">
    <label>Qualification <span class="text-danger">*</span></label>
    <select class="form-control wide add_bottom_10" @onchange="SetQualificationId">
        <option value="0" selected>Choose...</option>
        @foreach (var p in ProfileInfo.Qualifications)
        {
            @if (ProfileInfo.UserProfile.QualificationId == p.Id)
            {
                <option selected value="@p.Id">@p.Name</option>
                continue;
            }
            <option value="@p.Id">@p.Name</option>
        }
    </select>
</div>
<div class="form-group col-4">
    <label>Country <span class="text-danger">*</span></label>
    <select class="form-control wide add_bottom_10" @onchange="GetStateByCountryId">
        <option value="0" selected>Choose...</option>
        @foreach (var p in ProfileInfo.Countries)
        {
            @if (ProfileInfo.UserProfile.CountryID == p.CountryID)
            {
                <option selected value="@p.CountryID">@p.Name</option>
                continue;
            }
            <option value="@p.CountryID">@p.Name</option>
        }
    </select>
</div>
<div class="form-group col-4">
    <label>State <span class="text-danger">*</span></label>
    <select class="form-control wide add_bottom_10" @onchange="GetCityByStateId">
        <option value="0" selected>Choose...</option>
        @foreach (var p in ProfileInfo.States)
        {
            @if (ProfileInfo.UserProfile.StateID == p.StateID)
            {
                <option selected value="@p.StateID">@p.Name</option>
                continue;
            }
            <option value="@p.StateID">@p.Name</option>
        }
    </select>
</div>
<div class="form-group col-4">
    <label>City <span class="text-danger">*</span></label>
    <select class="form-control wide add_bottom_10" @onchange="GetAreaByCityId">
        <option value="0" selected>Choose...</option>
        @foreach (var p in ProfileInfo.Cities)
        {
            @if (ProfileInfo.UserProfile.CityID == p.CityID)
            {
                <option selected value="@p.CityID">@p.Name</option>
                continue;
            }
            <option value="@p.CityID">@p.Name</option>
        }
    </select>
</div>
<div class="form-group col-4">
    <label>Locality <span class="text-danger">*</span></label>
    <select class="form-control wide add_bottom_10" @onchange="GetPincodesByAreaId">
        <option value="0" selected>Choose...</option>
        @foreach (var p in ProfileInfo.Areas)
        {
            @if (ProfileInfo.UserProfile.AssemblyID == p.StationID)
            {
                <option selected value="@p.StationID">@p.Name</option>
                continue;
            }
            <option value="@p.StationID">@p.Name</option>
        }
    </select>
</div>
<div class="form-group col-4">
    <label>Pincode <span class="text-danger">*</span></label>
    <select class="form-control wide add_bottom_10" @onchange="GetLocalitiesByPincodeId">
        <option value="0" selected>Choose...</option>
        @foreach (var p in ProfileInfo.Pincodes)
        {
            @if (ProfileInfo.UserProfile.PincodeID == p.PincodeID)
            {
                <option selected value="@p.PincodeID">@p.PincodeNumber</option>
                continue;
            }
            <option value="@p.PincodeID">@p.PincodeNumber</option>
        }
    </select>
</div>
<div class="form-group col-4">
    <label>Area <span class="text-danger">*</span></label>
    <select class="form-control wide add_bottom_10" @onchange="SetLocalityId">
        <option value="0" selected>Choose...</option>
        @foreach (var p in ProfileInfo.Localities)
        {
            @if (ProfileInfo.UserProfile.LocalityID == p.LocalityID)
            {
                <option selected value="@p.LocalityID">@p.LocalityName</option>
                continue;
            }
            <option value="@p.LocalityID">@p.LocalityName</option>
        }
    </select>
</div>
<div class="form-group col-12">
    <label>Address <span class="text-danger">*</span></label>
    <textarea class="form-control" id="Address" name="Address" style="height:100px;" @bind="@ProfileInfo.UserProfile.Address"></textarea>
</div>
