<div class="row">
    <div class="form-group col-md-4">
        <label>First Category <span class="text-danger">*</span></label>
        <select class="form-control" @onchange="GetSecondCategoryIdByFirstCategoryId">
            <option selected disabled>Choose...</option>
            @if (CategoryVM.FirstCategories != null && CategoryVM.FirstCategories.Count > 0)
            {
                foreach (var cat in CategoryVM.FirstCategories)
                {
                    if (CategoryVM.FirstCategoryID == cat.FirstCategoryID)
                    {
                        <option selected value="@cat.FirstCategoryID">@cat.Name</option>
                    }
                    else
                    {
                        <option value="@cat.FirstCategoryID">@cat.Name</option>
                    }
                }
            }
        </select>
    </div>
    <div class="form-group col-md-4">
        <label>Second Category <span class="text-danger">*</span></label>
        <select class="form-control" @onchange="GetOtherCategoriesBySecondCategoryId">
            <option selected disabled>Choose...</option>
            @if (CategoryVM.SecondCategories != null && CategoryVM.SecondCategories.Count > 0)
            {
                foreach (var cat in CategoryVM.SecondCategories)
                {
                    if (CategoryVM.SecondCategoryID == cat.SecondCategoryID)
                    {
                        <option selected value="@cat.SecondCategoryID">@cat.Name</option>
                    }
                    else
                    {
                        <option value="@cat.SecondCategoryID">@cat.Name</option>
                    }
                }
            }
            else
            {
                <option selected disabled>Choose...</option>
            }
        </select>
    </div>
</div>
@if (CategoryVM.SecondCategoryID > 0)
{
    <div class="row">
        <div class="col-md-12 add_bottom_15">
            <button class="btn btn-primary" @onclick="@(async () => await SelectAllCategories())">Select All</button>
        </div>
    </div>
}
<div class="row">
    @if (CategoryVM.ThirdCategories != null && CategoryVM.ThirdCategories.Count > 0)
    {
        @foreach (var cat in CategoryVM.ThirdCategories)
        {
            <div class="col-md-3">
                <div class="clearfix add_bottom_15">
                    <div class="checkboxes float-left">
                        <label class="container_check">
                            @cat.Name
                            <input type="checkbox" @bind="cat.IsSelected">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
            </div>
        }
    }
    @if (CategoryVM.FourthCategories != null && CategoryVM.FourthCategories.Count > 0)
    {
        @foreach (var cat in CategoryVM.FourthCategories)
        {
            <div class="col-md-3">
                <div class="clearfix add_bottom_15">
                    <div class="checkboxes float-left">
                        <label class="container_check">
                            @cat.Name
                            <input type="checkbox" @bind="cat.IsSelected">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
            </div>
        }
    }
    @if (CategoryVM.FifthCategories != null && CategoryVM.FifthCategories.Count > 0)
    {
        @foreach (var cat in CategoryVM.FifthCategories)
        {
            <div class="col-md-3">
                <div class="clearfix add_bottom_15">
                    <div class="checkboxes float-left">
                        <label class="container_check">
                            @cat.Name
                            <input type="checkbox" @bind="cat.IsSelected">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
            </div>
        }
    }
    @if (CategoryVM.SixthCategories != null && CategoryVM.SixthCategories.Count > 0)
    {
        @foreach (var cat in CategoryVM.SixthCategories)
        {
            <div class="col-md-3">
                <div class="clearfix add_bottom_15">
                    <div class="checkboxes float-left">
                        <label class="container_check">
                            @cat.Name
                            <input type="checkbox" @bind="cat.IsSelected">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
            </div>
        }
    }
</div>
<div class="row">
    <div class="text-left col-12 mt-3">
        @if (buttonBusy)
        {
            <button class="btn btn-secondary">Saving...</button>
        }
        else
        {
            <button class="btn btn-primary" @onclick="@(async() => await CreateListingCategory())">Save & Continue</button>
        }
        @if (IsCategoryExist)
        {
            <a href="/MyAccount/Listing/Specialisation" class="pull-right mr-2"><img src="/img/arrow-next.png" height="25" /></a>
        }
        <a href="/MyAccount/Listing/Address" class="pull-right mr-2"><img src="/img/arrow-previous.png" height="25" /></a>
    </div>
</div>