<div class="row">
    <div class="form-group col-md-4">
        <label for="name">Website</label>
        <AutoCompleteMultiple AutoCompleteMultiVM="CommunicationVM.AutoCompleteMultiVM" />
    </div>
    <div class="form-group col-md-4">
        <label for="name">Email <span class="text-danger">*</span></label>
        <Input Type="email" Placeholder="Email" @bind-Value="@CommunicationVM.Email" />
    </div>
    <div class="form-group col-md-4">
        <label for="name">Mobile <span class="text-danger">*</span></label>
        <Input Type="number" Placeholder="Mobile" @bind-Value="@CommunicationVM.Mobile" />
    </div>
    <div class="form-group col-md-4">
        <label for="name">Whatsapp <span class="text-danger">*</span></label>
        <Input Type="number" Placeholder="Whatsapp" @bind-Value="@CommunicationVM.Whatsapp" />
    </div>
    <div class="form-group col-md-4">
        <label for="name">Telephone</label>
        <Input Type="number" Placeholder="Telephone" @bind-Value="@CommunicationVM.Telephone" />
    </div>
    <div class="form-group col-md-4">
        <label for="name">Telephone</label>
        <Input Type="number" Placeholder="Telephone" @bind-Value="@CommunicationVM.TelephoneSecond" />
    </div>
    <div class="form-group col-md-4">
        <label for="name">Website</label>
        <Input Type="url" Placeholder="Website" @bind-Value="@CommunicationVM.Website" />
    </div>
    <div class="form-group col-md-4">
        <label for="name">Toll Free</label>
        <Input Placeholder="Toll Free" @bind-Value="@CommunicationVM.TollFree" />
    </div>
    <div class="form-group col-md-4">
        <label for="name">Fax</label>
        <Input Type="number" Placeholder="Fax" @bind-Value="@CommunicationVM.Fax" />
    </div>
    <div class="form-group col-md-4">
        <label for="name">Skype ID <span class="text-danger">*</span></label>
        <Input Placeholder="Skype ID" @bind-Value="@CommunicationVM.SkypeID" />
    </div>
    <div class="text-left col-12 mt-3">
        @if (buttonBusy == false)
        {
            <button class="btn btn-primary" @onclick="@(async() => await AddOrUpdateCommunication())">Save & Continue</button>
        }
        else
        {
            <button class="btn btn-secondary">Saving...</button>
        }
        @if (IsCommunicationExist)
        {
            <a href="@url/Address" class="pull-right mr-2"><img src="/img/arrow-next.png" height="25" /></a>
        }
        <a href="@url/Company" class="pull-right mr-2"><img src="/img/arrow-previous.png" height="25" /></a>
    </div>
</div>