<div class="row mb-3">
    <div class="col-md-12">
        <div class="clearfix add_bottom_15">
            <button class="btn btn-primary" @onclick="@(() => PaymentModeVM.selectOrUnselectAll())">
                Select To All
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="clearfix add_bottom_15">
            <div class="checkboxes float-left">
                <label class="container_check">
                    Cash
                    <input type="checkbox" @bind="@PaymentModeVM.Cash">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="clearfix add_bottom_15">
            <div class="checkboxes float-left">
                <label class="container_check">
                    RTGS & NEFT
                    <input type="checkbox" @bind="PaymentModeVM.RtgsNeft">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="clearfix add_bottom_15">
            <div class="checkboxes float-left">
                <label class="container_check">
                    PayTM
                    <input type="checkbox" @bind="@PaymentModeVM.PayTM">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="clearfix add_bottom_15">
            <div class="checkboxes float-left">
                <label class="container_check">
                    Net Banking
                    <input type="checkbox" @bind="PaymentModeVM.NetBanking">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="clearfix add_bottom_15">
            <div class="checkboxes float-left">
                <label class="container_check">
                    Debit Card
                    <input type="checkbox" @bind="PaymentModeVM.DebitCard">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="clearfix add_bottom_15">
            <div class="checkboxes float-left">
                <label class="container_check">
                    Phone Pay
                    <input type="checkbox" @bind="PaymentModeVM.PhonePay">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </div><div class="col-md-4">
        <div class="clearfix add_bottom_15">
            <div class="checkboxes float-left">
                <label class="container_check">
                    Cheque
                    <input type="checkbox" @bind="PaymentModeVM.Cheque">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="clearfix add_bottom_15">
            <div class="checkboxes float-left">
                <label class="container_check">
                    Credit Card
                    <input type="checkbox" @bind="PaymentModeVM.CreditCard">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="clearfix add_bottom_15">
            <div class="checkboxes float-left">
                <label class="container_check">
                    Paypal
                    <input type="checkbox" @bind="PaymentModeVM.Paypal">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="text-left col-12 mt-3">
        @if (buttonBusy == false)
        {
            <button class="btn btn-primary" @onclick="@(async() => await AddOrUpdatePaymentMode())">@(IsCreateFreeListing ? "Submit" : "Save & Continue")</button>
        }
        else
        {
            <button class="btn btn-secondary">Saving...</button>
        }
        @if (IsPaymentModeExist && !IsCreateFreeListing)
        {
            <a href="@url/Images" class="pull-right mr-2"><img src="/img/arrow-next.png" height="25" /></a>
        }
        <a href="@url/WorkingHours" class="pull-right mr-2"><img src="/img/arrow-previous.png" height="25" /></a>
    </div>
</div>