@page "/Auth/Login"
@using Microsoft.AspNetCore.Identity;
@using DAL.Models;
@inject BAL.Services.Contracts.IUserService userService
@inject NavigationManager navManager
<style>
    .example {
        text-align: center;
        background: rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        margin-bottom: 20px;
        padding: 30px 50px;
        margin: 20px 0;
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div id="sign-in-dialog" class="dialog-mfp zoom-anim-dialog">
                <div class="step first">
                    <div class="d-flex justify-content-center pt-4">
                        <h2 class="text-center">Sign In</h2>
                    </div>
                    <div class="tab-content checkout">
                        <div class="" id="">
                            <div class="form-group">
                                <input @bind-value="@Email" class="form-control" type="email" required placeholder="Email" maxlength="100" />
                                <i class="icon_mail"></i>
                                <span class="text-danger field-validation-error">@emailErrMessage</span>
                            </div>
                            <div class="form-group">
                                <input @bind-value="@Password" class="form-control" type="password" required id="password" placeholder="Password" maxlength="100" />
                                <i class="icon_lock_alt"></i>
                                <span class="text-danger field-validation-error">@passwordErrMessage</span>
                            </div>
                            <div class="form-group">
                                <span class="text-danger field-validation-error">@errorMessage</span>
                            </div>
                            <div class="clearfix add_bottom_15">
                                <div class="checkboxes float-left">
                                    <label class="container_check">
                                        Remember me
                                        <input type="checkbox" @onclick="@(() => @RememberMe = !@RememberMe)">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="float-right"><a id="forgot" href="#">Lost Password?</a></div>
                            </div>
                            <button @onclick="@(async () => LoginUser())" class="btn btn-primary w-100">Log In</button>
                            <div class="clearfix add_bottom_15">
                                <div class="checkboxes float-left" style="color: #999;">
                                    You don't have account!
                                </div>
                                <div>
                                    <a href="/Auth/Register" style="color: #fe900d;">&nbsp; Sign up?</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>