@page "/Auth/Register"
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div id="sign-in-dialog" class="dialog-mfp zoom-anim-dialog">
                <div class="step first">
                    <div class="d-flex justify-content-center pt-4">
                        @*<img src="/resources/img/logo_sticky.svg" width="220" alt="logo" class="logo_sticky">*@
                        <h1 class="text-center">Sign Up</h1>
                    </div>
                    <div class="tab-content checkout">
                        <div class="" id="">
                            <div class="form-group">
                                <Input @bind-Value="@Email" class="form-control" Type="email" required Placeholder="Email Address" MaxLength="100" />
                                @*<i class="icon_mail"></i>*@
                                <span class="text-danger field-validation-error">@emailErrMessage</span>
                            </div>
                            @if (!isOtpGenerated)
                            {
                                <div class="form-group">
                                    <Input @bind-Value="@Mobile" class="form-control" Type="tel" required Placeholder="Mobile Number" MaxLength="10" />
                                    @*<i class="icon_mobile"></i>*@
                                </div>
                                <button @onclick="@(async () => await GenerateOTP())" class="btn btn-primary w-100">Generate OTP</button>
                            }
                            else
                            {
                                <div class="form-group">
                                    <span class="icon_lock_alt"></span>
                                    @Mobile
                                </div>
                            }
                            @if (isOtpGenerated && !isOtpVerified)
                            {
                                <div class="form-group">
                                    <Input @bind-Value="@otp" class="form-control" Type="tel" Placeholder="otp" MaxLength="6" />
                                    @*<i class="icon_lock_alt"></i>*@
                                </div>
                                <button @onclick="@(async () => await VerifyOTP())" class="btn btn-primary w-100">Verify</button>
                            }
                            <div class="form-group">
                                <span class="@(isOtpGenerated ? "text-success" : "text-danger") field-validation-error">@mobileErrMessage</span>
                            </div>
                            @*<input type="submit" class="btn_1 full-width" value="Continue">*@

                            <div class="form-group">
                                <Input @bind-Value="@Password" class="form-control" Type="password" required Placeholder="Password" MaxLength="100" />
                                @*<i class="icon_star"></i>*@
                                <span class="text-danger field-validation-error">@passwordErrMessage</span>
                            </div>
                            <div class="form-group">
                                <Input @bind-Value="@ConfirmPassword" class="form-control" Type="password" required Placeholder="Email Address" MaxLength="100" />
                                @*<i class="icon_star"></i>*@
                                <span class="text-danger field-validation-error">@confirmPasswordErrMessage</span>
                            </div>
                            @if (isOtpVerified)
                            {
                                <button @onclick="@(async () => RegisterUser())" class="btn btn-primary w-100">Register</button>
                            }
                            else
                            {
                                <button class="btn btn-light w-100">Register</button>
                            }
                            <span class="text-danger field-validation-error">@errorMessage</span>
                            <div class="clearfix add_bottom_15">
                                <div class="checkboxes float-left" style="color: #999;">
                                    Already have an account!
                                </div>
                                <div class="float-right">
                                    <a href="/Auth/Login">Sign In</a>
                                </div>
                            </div>
                        </div>
                        <!-- /tab_2 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
