@page "/MyAccount/Listing/Address"
@inject AuthenticationStateProvider authenticationState
@inject NotificationService _notice
@inject NavigationManager navManager

<AuthorizeView>
    <Authorized>
        <div class="container my-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="profile-sidebar-content">
                        <h4>Add Addresses Details</h4>
                        <p class="add-lidting-title-from">
                            Add Listing / Add Addresses Details
                            <span>
                                <a class="back_btn mx-3" href="/MyAccount/ManageListing">Back</a>
                            </span>
                        </p>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <CountryDropDown ListWizAddressVM="LWAddressVM" ExecuteStateHasChanged="ExecuteStateHasChanged" />
                            </div>
                            <div class="form-group col-md-4">
                                <StateDropDown ListWizAddressVM="LWAddressVM" ExecuteStateHasChanged="ExecuteStateHasChanged" />
                            </div>
                            <div class="form-group col-md-4">
                                <CityDropDown ListWizAddressVM="LWAddressVM" ExecuteStateHasChanged="ExecuteStateHasChanged" />
                            </div>
                            <div class="form-group col-md-4">
                                <LocalityDropdown ListWizAddressVM="LWAddressVM" ExecuteStateHasChanged="ExecuteStateHasChanged" />
                                <button class="btn btn-sm btn-link" @onclick="@(async() => await ShowHideAreaLocalityModal())">+ Add locality</button>
                            </div>
                            <div class="form-group col-md-4">
                                <PincodeDropdown ListWizAddressVM="LWAddressVM" ExecuteStateHasChanged="ExecuteStateHasChanged" />
                                <button class="btn btn-sm btn-link" @onclick="@(async() => await ShowHidePincodeModal())">+ Add pincode</button>
                            </div>
                            <div class="form-group col-md-4">
                                <AreaDropdown  ListWizAddressVM="LWAddressVM" ExecuteStateHasChanged="ExecuteStateHasChanged" />
                                <button class="btn btn-sm btn-link" @onclick="@(async() => await ShowHideLocalityModal())">+ Add area</button>
                            </div>
                            <div class="form-group col-md-12">
                                <label>Address <span class="text-danger">*</span></label>
                                <textarea @bind="LWAddressVM.Address" class="form-control" rows="4"></textarea>
                            </div>
                            <div class="text-left col-12 mt-3">
                                @if (buttonBusy == false)
                                {
                                    <button class="btn btn-primary" @onclick="@(async() => await AddOrUpdateAddress())">Save & Continue</button>
                                }
                                else
                                {
                                    <button class="btn btn-secondary">Saving...</button>
                                }
                                @if (IsAddressExist)
                                {
                                    <a href="/MyAccount/Listing/Category" class="pull-right mr-2"><img src="/img/arrow-next.png" height="25" /></a>
                                }
                                <a href="/MyAccount/Listing/Communication" class="pull-right mr-2"><img src="/img/arrow-previous.png" height="25" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Begin: Station Popup -->
        <Modal Title="Add Area"
               OnCancel="@(async() => await ShowHideAreaLocalityModal())"
               Centered="true"
               Visible="@showAreaModal"
               Footer="null">
            <input type="text" placeholder="Area" @bind="AreaName" class="form-control" />
            <br />
            <buttton class="btn btn-success btn-sm" @onclick="@(async() => await CreateAreaLocalityAsync())">Create</buttton>
            <buttton class="btn btn-danger btn-sm ml-2" @onclick="@(async() => await ShowHideAreaLocalityModal())">Cancel</buttton>
        </Modal>
        <!-- Begin: Station Popup -->
        <!-- Begin: Pincode Pincode -->
        <Modal Title="Add Pincode"
               OnCancel="@(async() => await ShowHidePincodeModal())"
               Centered="true"
               Visible="@showPincodeModal"
               Footer="null">
            <input type="number" placeholder="Pincode" @bind="PinNumber" class="form-control" />
            <br />
            <buttton class="btn btn-success btn-sm" @onclick="@(async() => await CreatePincodeAsync())">Create</buttton>
            <buttton class="btn btn-danger btn-sm ml-2" @onclick="@(async() => await ShowHidePincodeModal())">Cancel</buttton>
        </Modal>
        <!-- Begin: Pincode Popup -->
        <!-- Begin: Locality Pincode -->
        <Modal Title="Add Locality"
               OnCancel="@(async() => await ShowHideLocalityModal())"
               Centered="true"
               Visible="@showLocalityModal"
               Footer="null">
            <input type="text" placeholder="Locality" @bind="LocalityName" class="form-control" />
            <br />
            <buttton class="btn btn-success btn-sm" @onclick="@(async() => await CreateLocalityAsync())">Create</buttton>
            <buttton class="btn btn-danger btn-sm ml-2" @onclick="@(async() => await ShowHideLocalityModal())">Cancel</buttton>
        </Modal>
        <!-- Begin: Locality Popup -->
    </Authorized>
    <NotAuthorized>
        <UnAuthorizedUser />
    </NotAuthorized>
</AuthorizeView>