@page "/MyAccount/Listing/Address"
@inject ListingDbContext listingContext
@inject AuditDbContext auditContext
@inject SharedDbContext sharedContext
@inject CategoriesDbContext categoriesContext
@inject AuthenticationStateProvider authenticationState
@inject NotificationService _notice
@inject NavigationManager navManager
@inject IJSRuntime jsRuntime
@using AntDesign

<AuthorizeView>
    <Authorized>
        <div class="container my-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="profile-sidebar-content">
                        <h4>Add Addresses Details</h4>
                        <p class="add-lidting-title-from">
                            Add Listing / Add Addresses Details
                            <span>
                                <a class="back_btn mx-3" href="/MyAccount/ManageListing">Back</a>
                            </span>
                        </p>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label>Country <span class="text-danger">*</span></label>
                                <select class="form-control" @onchange="GetStateByCountryId">
                                    <option value="0" selected>Choose...</option>
                                    @foreach (var p in AddressVM.Countries)
                                    {
                                        @if (AddressVM.CountryId == p.CountryID)
                                        {
                                            <option selected value="@p.CountryID">@p.Name</option>
                                            continue;
                                        }
                                        <option value="@p.CountryID">@p.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label>State <span class="text-danger">*</span></label>
                                <select class="form-control" @onchange="GetCityByStateId">
                                    <option value="0" selected>Choose...</option>
                                    @foreach (var p in AddressVM.States)
                                    {
                                        @if (AddressVM.StateId == p.StateID)
                                        {
                                            <option selected value="@p.StateID">@p.Name</option>
                                            continue;
                                        }
                                        <option value="@p.StateID">@p.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label>City <span class="text-danger">*</span></label>
                                <select class="form-control" @onchange="GetAreaByCityId">
                                    <option value="0" selected>Choose...</option>
                                    @foreach (var p in AddressVM.Cities)
                                    {
                                        @if (AddressVM.CityId == p.CityID)
                                        {
                                            <option selected value="@p.CityID">@p.Name</option>
                                            continue;
                                        }
                                        <option value="@p.CityID">@p.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label>Locality <span class="text-danger">*</span></label>
                                <select class="form-control wide add_bottom_10" @onchange="GetPincodesByAreaId">
                                    <option value="0" selected>Choose...</option>
                                    @foreach (var p in AddressVM.Areas)
                                    {
                                        @if (AddressVM.StationId == p.StationID)
                                        {
                                            <option selected value="@p.StationID">@p.Name</option>
                                            continue;
                                        }
                                        <option value="@p.StationID">@p.Name</option>
                                    }
                                </select>
                                <button class="btn btn-sm btn-link" @onclick="@(async() => await ShowHideAreaModal())">+ Add locality</button>
                            </div>
                            <div class="form-group col-md-4">
                                <label>Pincode <span class="text-danger">*</span></label>
                                <select class="form-control wide add_bottom_10" @onchange="GetLocalitiesByPincodeId">
                                    <option value="0" selected>Choose...</option>
                                    @foreach (var p in AddressVM.Pincodes)
                                    {
                                        @if (AddressVM.PincodeId == p.PincodeID)
                                        {
                                            <option selected value="@p.PincodeID">@p.PincodeNumber</option>
                                            continue;
                                        }
                                        <option value="@p.PincodeID">@p.PincodeNumber</option>
                                    }
                                </select>
                                <button class="btn btn-sm btn-link" @onclick="@(async() => await ShowHidePincodeModal())">+ Add pincode</button>
                            </div>
                            <div class="form-group col-md-4">
                                <label>Area <span class="text-danger">*</span></label>
                                <select class="form-control wide add_bottom_10" @onchange="SetLocalityId">
                                    <option value="0" selected>Choose...</option>
                                    @foreach (var p in AddressVM.Localities)
                                    {
                                        @if (AddressVM.LocalityId == p.LocalityID)
                                        {
                                            <option selected value="@p.LocalityID">@p.LocalityName</option>
                                            continue;
                                        }
                                        <option value="@p.LocalityID">@p.LocalityName</option>
                                    }
                                </select>
                                <button class="btn btn-sm btn-link" @onclick="@(async() => await ShowHideLocalityModal())">+ Add area</button>
                            </div>
                            <div class="form-group col-md-12">
                                <label>Address <span class="text-danger">*</span></label>
                                <textarea @bind="AddressVM.Address" class="form-control" rows="4"></textarea>
                            </div>
                            <div class="text-left col-12 mt-3">
                                @if (buttonBusy == false)
                                {
                                    <button class="btn btn-primary" @onclick="@(async() => await AddOrUpdateAddress())">Save & Continue</button>
                                }
                                else
                                {
                                    <button class="btn btn-secondary">Saving...</button>
                                }
                                @if (IsAddressExist)
                                {
                                    <a href="/MyAccount/Listing/Category" class="pull-right mr-2"><img src="/img/arrow-next.png" height="25" /></a>
                                }
                                <a href="/MyAccount/Listing/Communication" class="pull-right mr-2"><img src="/img/arrow-previous.png" height="25" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Begin: Station Popup -->
        <Modal Title="Add Area"
               OnCancel="@(async() => await ShowHideAreaModal())"
               Centered="true"
               Visible="@showAreaModal"
               Footer="null">
            <input type="text" placeholder="Area" @bind="AreaName" class="form-control" />
            <br />
            <buttton class="btn btn-success btn-sm" @onclick="@(async() => await CreateAreaAsync())">Create</buttton>
            <buttton class="btn btn-danger btn-sm ml-2" @onclick="@(async() => await ShowHideAreaModal())">Cancel</buttton>
        </Modal>
        <!-- Begin: Station Popup -->
        <!-- Begin: Pincode Pincode -->
        <Modal Title="Add Pincode"
               OnCancel="@(async() => await ShowHidePincodeModal())"
               Centered="true"
               Visible="@showPincodeModal"
               Footer="null">
            <input type="number" placeholder="Pincode" @bind="PinNumber" class="form-control" />
            <br />
            <buttton class="btn btn-success btn-sm" @onclick="@(async() => await CreatePincodeAsync())">Create</buttton>
            <buttton class="btn btn-danger btn-sm ml-2" @onclick="@(async() => await ShowHidePincodeModal())">Cancel</buttton>
        </Modal>
        <!-- Begin: Pincode Popup -->
        <!-- Begin: Locality Pincode -->
        <Modal Title="Add Locality"
               OnCancel="@(async() => await ShowHideLocalityModal())"
               Centered="true"
               Visible="@showLocalityModal"
               Footer="null">
            <input type="text" placeholder="Locality" @bind="LocalityName" class="form-control" />
            <br />
            <buttton class="btn btn-success btn-sm" @onclick="@(async() => await CreateLocalityAsync())">Create</buttton>
            <buttton class="btn btn-danger btn-sm ml-2" @onclick="@(async() => await ShowHideLocalityModal())">Cancel</buttton>
        </Modal>
        <!-- Begin: Locality Popup -->
    </Authorized>
    <NotAuthorized>
        <UnAuthorizedUser />
    </NotAuthorized>
</AuthorizeView>