@page "/MyAccount/Listing/Communication/{listingId:int?}"
@inject ListingDbContext listingContext
@inject AuditDbContext auditContext
@inject CategoriesDbContext categoriesContext
@inject SharedDbContext sharedContext
@inject AuthenticationStateProvider authenticationState
@inject NotificationService _notice
@inject NavigationManager navManager
@inject IJSRuntime jsRuntime
@using BOL.SHARED

<AuthorizeView>
    <Authorized>
        <div class="container my-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="profile-sidebar-content">
                        <h4>Add Communication Details</h4>
                        <p class="add-lidting-title-from">
                            Add Listing / Add Communication Details
                            <span>
                                <a class="back_btn mx-3" href="/MyAccount/ManageListing">Back</a>
                            </span>
                        </p>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="name">Email <span class="text-danger">*</span></label>
                                <Input Type="email" Placeholder="Email" @bind-Value="@email" />
                            </div>
                            <div class="form-group col-md-4">
                                <label for="name">Mobile <span class="text-danger">*</span></label>
                                <Input Type="number" Placeholder="Mobile" @bind-Value="@mobile" />
                            </div>
                            <div class="form-group col-md-4">
                                <label for="name">Whatsapp <span class="text-danger">*</span></label>
                                <Input Type="number" Placeholder="Whatsapp" @bind-Value="@whatsapp" />
                            </div>
                            <div class="form-group col-md-4">
                                <label for="name">Telephone</label>
                                <Input Type="number" Placeholder="Telephone" @bind-Value="@telephone1st" />
                            </div>
                            <div class="form-group col-md-4">
                                <label for="name">Telephone</label>
                                <Input Type="number" Placeholder="Telephone" @bind-Value="@telephone2nd" />
                            </div>
                            <div class="form-group col-md-4">
                                <label for="name">Website</label>
                                <Input Type="url" Placeholder="Website" @bind-Value="@website" />
                            </div>
                            <div class="form-group col-md-4">
                                <label for="name">Toll Free</label>
                                <Input Placeholder="Toll Free" @bind-Value="@tollFree" />
                            </div>
                            <div class="form-group col-md-4">
                                <label for="name">Fax</label>
                                <Input Type="number" Placeholder="Fax" @bind-Value="@fax" />
                            </div>
                            <div class="form-group col-md-4">
                                <label for="name">Skype ID <span class="text-danger">*</span></label>
                                <Input Placeholder="Skype ID" @bind-Value="@skypeId" />
                            </div>
                            <div class="text-left col-12 mt-3">
                                @if (buttonBusy == false)
                                {
                                    <button class="btn btn-primary" @onclick="@(async() => await CreateCommunicationAsync())">Save & Continue</button>
                                }
                                else
                                {
                                    <button class="btn btn-secondary">Saving...</button>
                                }

                                @if (companyExist == true)
                                {
                                    <a class="btn_1 pull-right ml-2" href="/MyAccount/ListingWizard/CompanyEdit/@listingId">Previous</a>
                                }
                                @if (addressExist == true)
                                {
                                    <a class="btn_1 pull-right" href="/MyAccount/ListingWizard/AddressEdit/@listingId">Next</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <UnAuthorizedUser />
    </NotAuthorized>
</AuthorizeView>