@page "/MyAccount/Listing/Images"
<AuthorizeView>
    <Authorized>
        <div class="container my-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="profile-sidebar-content">
                        <h4>Upload Images</h4>
                        <p class="add-lidting-title-from">
                            Add Listing / Upload Images
                            <span>
                                <a class="back_btn mx-3" href="/MyAccount/ManageListing">Back</a>
                            </span>
                        </p>
                        <div class="row">
                            <div class="text-center col-md-4 mt-3 ">
                                <button type="button" class="btn btn-primary" id="logo_img_btn">Upload Logo Image</button>
                            </div>
                            <div class="text-center col-md-4 mt-3">
                                <button type="button" class="btn btn-primary" id="owner_img_btn">Upload Owner Images</button>
                            </div>
                            <div class="text-center col-md-4 mt-3">
                                <button type="button" class="btn btn-primary" id="gallery_img_btn">Upload Gallery Images</button>
                            </div>
                        </div>
                        <div class="row mt-5 justify-content-center hide" id="logo_upload_sec">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Select Logo Image <span class="text-danger">*</span></label>
                                    <Microsoft.AspNetCore.Components.Forms.InputFile Class="form-control file-upload" id="logo_img" OnChange="SetLogoImage" />
                                </div>
                                <input type="submit" value="submit" @onclick="@(async() => await UploadLogoImage())" class="btn_add mt-3">
                            </div>
                        </div>
                        <div class="row mt-5 justify-content-center hide" id="owner_upload_sec">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Select Owner Image <span class="text-danger">*</span></label>
                                    <Microsoft.AspNetCore.Components.Forms.InputFile Class="form-control file-upload" id="owner_img" OnChange="SetOwnerImage" />
                                </div>
                                <div class="form-group">
                                    <label>Select Designation <span class="text-danger">*</span></label>
                                    <select class="form-control wide add_bottom_10 designation" name="designation" @onchange="SetOwnerDesignation">
                                        <option></option>
                                        <option value="Owner">Owner</option>
                                        <option value="Proprietor">Proprietor</option>
                                        <option value="Director">Director</option>
                                        <option value="Manager">Manager</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="name">Name<span class="text-danger">*</span></label>
                                    <Input Type="text" Placeholder="Name" @bind-Value="UploadImagesVM.OwnerImageDetail.TitleOrName" />
                                </div>
                                <input type="submit" value="submit" @onclick="@(async() => await UploadOwnerImage())" class="btn_add mt-3">
                            </div>
                        </div>
                        <div class="row mt-5 justify-content-center hide" id="gallery_upload_sec">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Select Gallery Image <span class="text-danger">*</span></label>
                                    <Microsoft.AspNetCore.Components.Forms.InputFile Class="form-control file-upload" id="gallery_img" OnChange="SetGalleryImage" />
                                </div>
                                <div class="form-group">
                                    <label for="name">Select Image Title<span class="text-danger">*</span></label>
                                    <Input Type="text" Placeholder="Image Title" @bind-Value="UploadImagesVM.GalleryImageDetail.TitleOrName" />
                                </div>
                                <input type="submit" value="submit" @onclick="@(async() => await UploadGalleryImage())" class="btn_add mt-3">
                            </div>
                        </div>
                        <hr style="margin-top: 32px;">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="text-center">Logo</h2>
                            </div>
                        </div>
                        <div class="row justify-content-center mt-4">
                            <div class="col-md-3 col-lg-2 col-6">
                                <div class="upload_img_sec">
                                    <img class="upload_images" src="@UploadImagesVM.LogoImageUrl" alt="Logo">
                                </div>
                            </div>
                        </div>
                        <hr style="margin-top: 32px;">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="text-center">Owner Images</h2>
                            </div>
                        </div>
                        <div class="row justify-content-center mt-4">
                            @if (UploadImagesVM.OwnerImages != null && UploadImagesVM.OwnerImages.Count > 0)
                            {
                                foreach (var ownerImage in UploadImagesVM.OwnerImages)
                                {
                                    <div class="col-md-3 col-lg-2 col-6 mb-5">
                                        <div class="upload_img_sec">
                                            <img class="delete_img" src="/resources/img/delete.png" @onclick="@(async() => await DeleteOwnerImage(ownerImage.Id))" alt="delete">
                                            <img class="upload_images" src="@ownerImage.ImageUrl" alt="Owner Image">
                                            <div class="img_title text-center">@ownerImage.TitleOrName</div>
                                            <div class="img_title text-center">(@ownerImage.Designation)</div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="col-md-3 col-lg-2 col-6 mb-5">
                                    <div class="upload_img_sec">
                                        <div class="img_title text-center">Not Found</div>
                                    </div>
                                </div>
                            }
                        </div>
                        <hr style="margin-top: 32px;">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="text-center">Gallery Images</h2>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            @if (UploadImagesVM.GalleryImages != null && UploadImagesVM.GalleryImages.Count > 0)
                            {
                                foreach (var galleryImage in UploadImagesVM.GalleryImages)
                                {
                                    <div class="col-md-3 col-lg-2 col-6 mb-5">
                                        <div class="upload_img_sec">
                                            <img class="delete_img" src="/resources/img/delete.png" @onclick="@(async() => await DeleteGalleryImage(galleryImage.Id))" alt="delete">
                                            <img class="upload_images" src="@galleryImage.ImageUrl" alt="Owner Image">
                                            <div class="img_title text-center">@galleryImage.TitleOrName</div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="col-md-3 col-lg-2 col-6 mb-5">
                                    <div class="upload_img_sec">
                                        <div class="img_title text-center">Not Found</div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <UnAuthorizedUser />
    </NotAuthorized>
</AuthorizeView>