@model IEnumerable<IDENTITY.Models.RoleCategory>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<!-- Begin: Breadcrumb -->
@{
    ViewData["BC-1"] = "Manage";
    ViewData["BC-2"] = "Claim";
    ViewData["BC-3"] = ViewData["Title"];
    ViewData["BT-Text"] = "Create Role";
    ViewData["BT-Link"] = "/UsersAndRoles/ManageRoles/CreateRole";
    ViewData["BT-Text2"] = "Assign User To Role";
    ViewData["BT-Link2"] = "/UsersAndRoles/ManageRoles/AssignRole";
    ViewData["BT-Text3"] = "Users";
    ViewData["BT-Link3"] = "/UsersAndRoles/ManageUsers";
    ViewData["BT-Text4"] = "Roles By Role Category";
    ViewData["BT-Link4"] = "/UsersAndRoles/Permissions/Show";
}
<!-- End: Breadcrumb -->

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.RoleCategoryID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.RoleCategoryID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.RoleCategoryID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
