@model BOL.CATEGORIES.ListingTitle

@{
    ViewData["Title"] = "Edit Featured Keyword";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<!-- Begin: Breadcrumb -->
@{
    ViewData["BC-1"] = "Featured Keywords";
    ViewData["BC-2"] = "Manage";
    ViewData["BC-3"] = ViewBag.FirstCategoryName + " / " + ViewBag.SecondCategoryName;
    ViewData["BT-Text-1"] = "Manage";
    ViewData["BT-Link-1"] = "#0";
    ViewData["BT-Text-2"] = "Create";
    ViewData["BT-Link-2"] = "#0";
    ViewData["BT-Text-3"] = "";
    ViewData["BT-Link-3"] = "";
    ViewData["BT-Text-4"] = "";
    ViewData["BT-Link-4"] = "";
}
<!-- End: Breadcrumb -->

@section Scripts{
    <script type="text/javascript">
        // Shafi: Bind keyword field with url field and convert to upper case by remove space
        $(document).ready(function () {
            // Bind keyword, url and description input together
            $("#featuredKeyword").keyup(function (event) {

                // Force text to be typed in lowercase in Keyword text field
                $(this).val($(this).val().toLowerCase());

                // Get value of keyword text field
                var keyword = $(this).val();

                // Begin: Tranform value of keyword to Title Case
                function ToTitleCase(keyword) {
                    return keyword.replace(/(?:^|\s)\w/g, function (match) {
                        return match.toUpperCase();
                    });
                }
                // End:

                // Call ToTitleCase function replace space by - hyphen through and convert to title case
                var url = ToTitleCase(keyword).replace(/\s+/g, "-");

                // Set final value of input with id's url, title and description
                $("#url").val(url);
                $("#title").val(ToTitleCase(keyword));
                $("#description").val(ToTitleCase(keyword));
                $("#keyword").val(ToTitleCase(keyword));
            });
            // End:

            // Prevent user manually typing text in url input
            $("#url").keypress(function (e) {
                e.preventDefault();
            });
            // End:
        });
    </script>
}

<h5>
    @ViewData["Title"]
    <span class="float-right">
        <a href="/Others/ListingTitles/Index/@ViewBag.SecondCategoryShafiId" class="btn btn-sm btn-primary float-right"><i class="fa fa-arrow-left"></i> <span class="ml-1">View Second Categories</span></a>
    </span>
</h5>
<hr />

@if (TempData["MessageSuccess"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["MessageSuccess"]
    </div>
}

@if (TempData["MessageError"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["MessageError"]
    </div>
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TitleID" />
            <input type="hidden" name="FirstCategoryID" value="@Model.FirstCategoryID" />
            <input type="hidden" name="SecondCategoryID" value="@Model.SecondCategoryID" required />
            <input type="hidden" name="URL" value="@Model.URL" placeholder="Url" id="url" required />
            <input type="hidden" name="SortOrder" value="@Model.SortOrder" placeholder="SortOrder" id="sortOrder" />
            <input type="hidden" name="Description" value="@Model.Description" placeholder="Description" id="description" />
            <input type="hidden" name="Keyword" value="@Model.Keyword" placeholder="keyword" id="keyword" />
            <input type="hidden" name="Title" id="title" value="@Model.Title" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a href="/Others/ListingTitles/Index/@Model.SecondCategoryID" class="btn btn-sm btn-danger">Cancel</a>
                <input type="submit" value="Save" class="btn btn-primary btn-sm ml-4" />
            </div>
        </form>
    </div>
</div>

