@page "/MyAccount/LabourNakaWizard/PersonalEdit"
@inject ListingDbContext listingContext
@inject AuditDbContext auditContext
@inject CategoriesDbContext categoriesContext
@inject SharedDbContext sharedContext
@inject AuthenticationStateProvider authenticationState
@inject NotificationService _notice
@inject NavigationManager navManager
@using BOL.SHARED
@inject IJSRuntime jsRuntime

<AuthorizeView>
    <Authorized>
        <div class="container">
            <div class="listing-from-block individual-listing">
                <div class="row">
                    <!-- Begin: Right Menu -->
                    <div class="col-md-3">
                        <div class="nav profile-side-menu flex-column nav-pills" id="v-pills-tab-listing" role="tablist"
                             aria-orientation="vertical">
                            <a class="nav-link active" href="/MyAccount/LabourNakaWizard/PersonalCreate" aria-selected="true">
                                Personal
                            </a>
                            <a class="nav-link" href="/MyAccount/LabourNakaWizard/ProfessionCreate" aria-selected="false">
                                Profession
                            </a>
                            <a class="nav-link" href="/MyAccount/LabourNakaWizard/ContactCreate" aria-selected="false">
                                Contact
                            </a>
                            <a class="nav-link" href="/MyAccount/LabourNakaWizard/ReferenceCreate" aria-selected="false">
                                References
                            </a>
                            <a class="nav-link" href="/MyAccount/LabourNakaWizard/DocumentCreate" aria-selected="false">
                                Documents
                            </a>
                            <a class="nav-link" href="/MyAccount/LabourNakaWizard/CategoryCreate" aria-selected="false">
                                Category
                            </a>
                        </div>
                    </div>
                    <!-- End: Right Menu -->
                    <div class="col-md-9">
                        <div class="tab-content profile-sidebar-content add-lidting" id="v-pills-tabContent">
                            <!-- Begin: Form -->
                            <div class="tab-content profile-sidebar-content add-lidting" id="v-pills-tabContent">
                                <div class="tab-pane fade show active" id="v-pills-Company" role="tabpanel"
                                     aria-labelledby="v-pills-Company-tab">

                                    @if (Per != null)
                                    {

                                        if (Disable == true)
                                        {
                                            <p class="add-lidting-title-from font-weight-bold">Labour Naka > Personal <button @onclick="ToggleEdit" class="btn btn-link float-right">Edit</button></p>
                                        }
                                        else
                                        {
                                            <p class="add-lidting-title-from font-weight-bold">
                                                Labour Naka > Personal <button @onclick="ToggleEdit" class="btn btn-link float-right">
                                                    Cancel Edit
                                                </button>
                                            </p>
                                        }

                                        <div class="row">
                                            <!-- First Name -->
                                            <div class="form-group col-md-4">
                                                <label for="name">
                                                    First Name
                                                    <span class="text-danger">*</span>
                                                </label>
                                                <input @bind="Per.FirstName" placeholder="First Name" class="form-control" disabled="@Disable" />
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="name">
                                                    Middle Name
                                                    <span class="text-danger">*</span>
                                                </label>
                                                <input @bind="Per.MiddleName" placeholder="Middle Name" class="form-control" disabled="@Disable" />
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="name">
                                                    Last Name
                                                    <span class="text-danger">*</span>
                                                </label>
                                                <input @bind="Per.LastName" placeholder="Full Name" class="form-control" disabled="@Disable" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <!-- First Name -->
                                            <div class="form-group col-md-4">
                                                <label for="name">
                                                    Date of Birth
                                                    <span class="text-danger">*</span>
                                                </label>
                                                <input @bind="Per.DOB" type="date" placeholder="First Name" class="form-control" disabled="@Disable" />
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="name">
                                                    Gender
                                                    <span class="text-danger">*</span>
                                                </label>
                                                <select @bind="Per.Gender" class="form-control" disabled="@Disable">
                                                    <option selected disabled>Choose...</option>
                                                    <option value="Male">Male</option>
                                                    <option value="Female">Female</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="name">
                                                    Married
                                                    <span class="text-danger">*</span>
                                                </label>
                                                <select @bind="Per.Married" class="form-control" disabled="@Disable">
                                                    <option selected disabled>Choose...</option>
                                                    <option value="Yes">Yes</option>
                                                    <option value="No">No</option>
                                                </select>
                                            </div>

                                            @if (Edit == true)
                                            {
                                                <div class="text-left col-12 mt-3">
                                                    @if (Busy == false)
                                                    {
                                                        <button class="btn_1" @onclick="SaveRecordAsync">
                                                            Update & Save
                                                        </button>
                                                    }
                                                    else
                                                    {
                                                        <button class="btn_1" disabled>
                                                            Saving...
                                                        </button>
                                                    }
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="text-left col-12 mt-3">
                                                    <a href="/MyAccount/LabourNakaWizard/ProfessionCreate" class="pull-right mr-2"><img src="/img/arrow-next.png" height="25" /></a>
                                                </div>
                                            }
                                        </div>
                                    }
                                    else
                                    {
                                <div class="row">
                                    <div class="col-12">
                                        <a href="/MyAccount/LabourNakaWizard/PersonalCreate" class="btn_1 mt-4 mb-4">Add Personal Details</a>
                                    </div>
                                </div>
                                    }
                                </div>
                            </div>
                            <!-- End: Form -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <UnAuthorizedUser />
    </NotAuthorized>
</AuthorizeView>